    <!--Main Footer-->
    <footer class="main-footer">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix" style="background-color: #282b2e;">
                	
                    <!--big column-->
                    <div class="big-column col-md-7 col-sm-12 col-xs-12" style="margin-top: 12px; padding-right:12px;">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget about-widget">
									<h2>{{'About_Us'|translate}}</h2>
                                    <div class="text">
                                    	<p>{{'aboutUs'|translate}}</p>
                                        <p>{{'scope_of_work'|translate}}</p>
                                    </div>
								</div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
									<h2>{{'Usefull_Links'|translate}}</h2>
                                    <div class="widget-content">
                                    	<div class="row clearfix">
                                        	<div class="col-md-6 col-sm-6 col-xs-12">
                                            	<ul class="footer-links">
                                                	<li><a ng-click="goTopage('/home')">{{'home'|translate}}</a></li>
                                                    <li><a ng-click="goTopage('/skoda/models')">{{'skoda_models' | translate}}</a></li>
                                                    <li><a ng-click="goTopage('/skoda/spare_parts')">{{'skoda'|translate}} {{'spare_parts'|translate}}</a></li>
                                                    <li><a ng-click="goTopage('/skoda/services')">{{'skoda'|translate}} {{'service_center'|translate}}</a></li>
                                                    <li><a ng-click="goTopage('/toyota/models')">{{'toyota_models' | translate}} </a></li>
                                                    <li><a ng-click="goTopage('/toyota/spare_parts')">{{'toyota'|translate}} {{'spare_parts'|translate}}</a></li>
                                                    <li><a ng-click="goTopage('/toyota/services')">{{'toyota'|translate}} {{'service_center'|translate}}</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                            	<ul class="footer-links">
                                                    <li><a ng-click="goTopage('/cars/buy')">{{'buy' | translate}}</a></li>
                                                    <li><a ng-click="goTopage('/cars/compare')" >{{'VEHICLE_COMPARE' | translate}}</a></li>
                                                    <li><a href="#">{{'exchange'|translate}}</a></li>
                                                    <li><a ng-click="goTopage('/contact')">{{'contact_us' | translate}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--big column-->
                    <div class="big-column col-md-5 col-sm-12 col-xs-12" style="margin-top: 12px;">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-12 col-sm-12 col-xs-12">
                                <div class="footer-widget links-widget">
									<h2>{{'Contact_Details'|translate}}</h2>
                                    <div class="widget-content">
                                    	<ul class="list-style-one" ng-if="currentTab =='skoda' || currentTab == 'home'">
                                        	<li><span class="icon flaticon-maps-and-flags"></span>{{'address_skoda'|translate}}</li>
                                            <li><span class="icon flaticon-telephone"></span> 0238753006 – 0238753007 - 0238753008</li>
                                            <li><span class="icon flaticon-telephone"></span> 01095090999 - 01094040999 - 01094090999 <span ng-if="currentTabType == 'car_service'"> - 01093030999</div></li>
                                            <li><span class="icon flaticon-web"></span>Info@albargasy.com</li>
                                        </ul>
                                        <ul class="list-style-one" ng-if="currentTab =='toyota' && currentTabType != 'spare_parts'">
                                        	<li><span class="icon flaticon-maps-and-flags"></span>{{'address_toyota_giza'|translate}}</li>
                                            <li><span class="icon flaticon-telephone"></span> 0235736290 – 0235733919</li>
                                            <li><span class="icon flaticon-telephone"></span> 01002518791</li>
                                            <li><span class="icon flaticon-web"></span>Info@albargasy.com</li>
                                        </ul>
                                        <ul class="list-style-one" ng-if="currentTab =='toyota' && currentTabType == 'spare_parts'">
                                        	<li><span class="icon flaticon-maps-and-flags"></span>{{'address_toyota_giza'|translate}} <div>{{'address_mega_store'|translate}}</div></li>
                                            <li><span class="icon flaticon-telephone"></span> 0235736290 – 0235733919 - 0233882992</li>
                                            <li><span class="icon flaticon-telephone"></span> 01002518791 - 01022214312</li>
                                            <li><span class="icon flaticon-web"></span>Info@albargasy.com</li>
                                        </ul>
                                        <ul class="list-style-one" ng-if="currentTab !='toyota' && currentTab !='skoda' && currentTab != 'home'">
                                        	<li><span class="icon flaticon-maps-and-flags"></span>{{'address_mega_store'|translate}}</li>
                                            <li><span class="icon flaticon-telephone"></span> 0233882992 </li>
                                            <li><span class="icon flaticon-telephone"></span> 01022214312</li>
                                            <li><span class="icon flaticon-web"></span>Info@albargasy.com</li>
                                        </ul>
                                    </div>
                                    <h2>{{'Working_Hours'|translate}}</h2>
                                    <div class="text" ng-if="currentTab =='home'">{{'Home_Page_Working_Hours'|translate}} </div>
                                    <div class="text" ng-if="currentTab =='skoda' && currentTabType != 'car_service'">{{'Skoda_working_hours'|translate}} </div>
                                    <div class="text" ng-if="currentTab =='skoda' && currentTabType == 'car_service'">{{'Skoda_working_hours_service'|translate}} </div>
                                    <div class="text" ng-if="currentTab =='toyota' && currentTabType != 'car_service'">{{'Giza_Working_Hours'|translate}} </div>
                                    <div class="text" ng-if="currentTab =='toyota' && currentTabType == 'car_service'">{{'Giza_Working_Hours_service'|translate}} </div>
                                    <div class="text" ng-if="currentTab !='toyota' && currentTab !='skoda' && currentTab !='home'">{{'Haram_Working_Hours'|translate}} </div>
                                </div>
                            </div>
                        
                        	
                        
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="auto-container">
            	<div class="row clearfix">
                	<div class="col-md-12 col-sm-12 col-xs-12">
                    	<div class="copyright" style="text-align: center">Copyrights © 2018 All Rights Reserved by <a href="#">AlBargasy Automotive.</a></div>
                    </div>
                    <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                    	<ul class="footer-nav">
                        	<li><a ng-click="goTopage('/skoda/models')">Skoda</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Policies</a></li>
                            <li><a href="#">Buy</a></li>
                            <li><a href="#">Sell</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </footer>
    <!--End Main Footer-->
</div>
    <!--Scroll to top-->
<div id="goUpButton" class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>
