<div class="page-wrapper">
 	
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
        
        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" class="img-responsive" title="Car World"><img src="assets/images/logo-small.png" alt="Tali" title="Car World"></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="#">SKODA</a>
                                        <ul>
                                            <li><a href="index.html">Models</a></li>
                                            <li><a href="services.html">Service Center</a></li>
                                            <li><a href="#">Spare Parts</a></li>
                                        </ul>
                                    </li>
                                    <!-- <li><a href="services.html">Services</a></li> -->
                                    <li class="dropdown"><a href="#">TOYOTA</a>
                                        <ul>
                                            <li><a href="#">Models</a></li>
                                            <li><a href="#">Service Center</a></li>
                                            <li><a href="#">Spare Parts</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li class="dropdown"><a href="#">Cars</a>
                                        <ul>
                                            <li><a href="#">Buy</a></li>
                                            <li><a href="#">Sell a Car</a></li>
                                            <li><a href="#">Exchange</a></li>
                                            <li><a href="#">Service Center</a></li>
                                            <!-- <li><a href="faq.html">FAQ’s</a></li>
                                            <li><a href="loan-calculater.html">Loan Calculator</a></li>
                                            <li><a href="error-page.html">404 Page</a></li> -->
                                        </ul>
                                    </li>
                                    <!-- <li class="dropdown"><a href="#">Shop</a>
                                        <ul>
                                            <li><a href="shop.html">Our Shop</a></li>
                                            <li><a href="shop-single.html">Shop Single</a></li>
                                            <li><a href="shoping-cart.html">Shoping Cart</a></li>
                                            <li><a href="checkout.html">CheckOut</a></li>
                                            <li><a href="account.html">Account</a></li>
                                        </ul>
                                    </li> -->
                                    <li><a href="#">Contact</a></li>
                                </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <!-- <section class="page-title" style="background-image:url(assets/images/services/service-offers.506ea32b2a1fb2f1765352d4a51cbdaa.fill-1920x500.jpg);"> -->
        <!-- <div class="auto-container">
            <h1>Services</h1>
        </div> -->
    <!-- </section> -->
    <!--End Page Title-->
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
            <ul class="bread-crumb">
                <li><a href="index.html">Skoda</a></li>
                <!-- <li>Pages</li> -->
                <li class="current">Services</li>
            </ul>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Services Section Two-->
    <section class="services-section-two">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<div class="image">
                    	<img src="assets/images/services/service-inspections.a48b0e2cf40b40b3ea8ab95bc08397f7.fill-1920x1096.jpg" alt="" />
                    </div>
                </div>
                <!--Content Column-->
            	<div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title">
                        	<h2>General Services</h2>
                        </div>
                        <div class="text">To keep your car in lasting working condition and to make sure that no guarantees are voided, you need to have it regularly serviced at a ŠKODA authorised service partner. You can find information on the frequency at which ŠKODAs need to be serviced in the service log or vehicle operating instructions, which are part and parcel of your ŠKODA’s on-board documentation.</div>
                        <div class="row clearfix">
                        	<div class="col-md-6 col-sm-6 col-xs-12">
                            	<ul class="list-style-four">
                                	<li>Replace the engine oil</li>
                                    <li>Check/Replace the fuel filter </li>
                                    <li>Check/Replace windshield wipers</li>
                                    <li>Replace air filter</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            	<ul class="list-style-four">
                                	<li>Flush transmission fluid</li>
                                    <li>Clean or replace battery </li>
                                    <li>Inspect or replace brake pads</li>
                                    <li>Inspect or replace timing belt</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Blocks Section-->
            <div class="services-blocks-section">
            	<div class="row clearfix">
                	
                    <!--Services Block Four-->
                    <div class="services-block-four col-md-4 col-sm-12 col-xs-12">
                    	<div class="inner-box">
                        	<div class="image">
                            	<img src="assets/images/services/service-2.jpg" alt="" />
                            </div>
                            <h3><a href="#">Interim Car Service</a></h3>
                            <div class="text">The Interim service is recommended every 6 months high-mileage drivers, or where more frequent.</div>
                        </div>
                    </div>
                    
                    <!--Services Block Four-->
                    <div class="services-block-four col-md-4 col-sm-12 col-xs-12">
                    	<div class="inner-box">
                        	<div class="image">
                            	<img src="assets/images/services/service-3.jpg" alt="" />
                            </div>
                            <h3><a href="#">Full Car Service</a></h3>
                            <div class="text">Our Full Service exceeds most manu facturers service schedules. If you book a full car service.</div>
                        </div>
                    </div>
                    
                    <!--Services Block Four-->
                    <div class="services-block-four col-md-4 col-sm-12 col-xs-12">
                    	<div class="inner-box">
                        	<div class="image">
                            	<img src="assets/images/services/service-4.jpg" alt="" />
                            </div>
                            <h3><a href="#">Major Car Service</a></h3>
                            <div class="text">Our Full Service exceeds most manu facturers service schedules. If you book a full car service.</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--End Services Section Two-->
    
    <!--Services Section Three-->
    <section class="services-section-three">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title light centered">
            	<h2>Full Range Of Services</h2>
            </div>
            <div class="four-item-carousel owl-carousel owl-theme">
            
            	<!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-rim"></span>
                            </div>
                            <h3><a href="#">Wheel Works</a></h3>
                            <div class="text">Know how to pursue pleasure seds encounter consequences that are ut extremely painfull nor pursues.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-rim"></span>
                                </div>
                                <h3><a href="#">Wheel Works</a></h3>
                                <div class="text">Know how to pursue pleasure seds encounter consequences that are ut extremely painfull nor pursues.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-spray-gun"></span>
                            </div>
                            <h3><a href="#">Painting Works</a></h3>
                            <div class="text"> Praising pain was bon and give you a complete account of the uts system expound the actual teachings.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-spray-gun"></span>
                                </div>
                                <h3><a href="#">Painting Works</a></h3>
                                <div class="text"> Praising pain was bon and give you a complete account of the uts system expound the actual teachings.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-symbol"></span>
                            </div>
                            <h3><a href="#">Air Conditioner</a></h3>
                            <div class="text">There are many variationsavailable but the majority have suffereed seds alteration in some form.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-symbol"></span>
                                </div>
                                <h3><a href="#">Air Conditioner</a></h3>
                                <div class="text">There are many variationsavailable but the majority have suffereed seds alteration in some form.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-car-washing"></span>
                            </div>
                            <h3><a href="#">Water Service</a></h3>
                            <div class="text"> Which of usundertakes laborious physical exercise, except to ut obtain some advantage from it.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-car-washing"></span>
                                </div>
                                <h3><a href="#">Water Service</a></h3>
                                <div class="text"> Which of usundertakes laborious physical exercise, except to ut obtain some advantage from it.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-rim"></span>
                            </div>
                            <h3><a href="#">Wheel Works</a></h3>
                            <div class="text">Know how to pursue pleasure seds encounter consequences that are ut extremely painfull nor pursues.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-rim"></span>
                                </div>
                                <h3><a href="#">Wheel Works</a></h3>
                                <div class="text">Know how to pursue pleasure seds encounter consequences that are ut extremely painfull nor pursues.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-spray-gun"></span>
                            </div>
                            <h3><a href="#">Painting Works</a></h3>
                            <div class="text"> Praising pain was bon and give you a complete account of the uts system expound the actual teachings.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-spray-gun"></span>
                                </div>
                                <h3><a href="#">Painting Works</a></h3>
                                <div class="text"> Praising pain was bon and give you a complete account of the uts system expound the actual teachings.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-symbol"></span>
                            </div>
                            <h3><a href="#">Air Conditioner</a></h3>
                            <div class="text">There are many variationsavailable but the majority have suffereed seds alteration in some form.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-symbol"></span>
                                </div>
                                <h3><a href="#">Air Conditioner</a></h3>
                                <div class="text">There are many variationsavailable but the majority have suffereed seds alteration in some form.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-car-washing"></span>
                            </div>
                            <h3><a href="#">Water Service</a></h3>
                            <div class="text"> Which of usundertakes laborious physical exercise, except to ut obtain some advantage from it.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-car-washing"></span>
                                </div>
                                <h3><a href="#">Water Service</a></h3>
                                <div class="text"> Which of usundertakes laborious physical exercise, except to ut obtain some advantage from it.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Services Section Three-->
    
    <!--Services Schedule Sections-->
    <section class="services-schedule-sections grey-bg">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title">
            	<h2>Schedule for Service</h2>
            </div>
            <div class="row clearfix">
            	<!--Form Column-->
            	<div class="form-column col-lg-9 col-md-12 col-sm-12 col-xs-12">
                	
                    <!--Services Form-->
                    <div class="services-form">
                        <div class="form-box">
                            <form method="post" action="contact-form">
                                <div class="row clearfix">
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label>Name*</label>
                                        <input type="text" name="name" value="" placeholder="" required>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label>Phone</label>
                                        <input type="text" name="phone" value="" placeholder="" required>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label>Email*</label>
                                        <input type="text" name="email" value="" placeholder="" required>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label>Make / Model</label>
                                        <input type="text" name="text" value="" placeholder="" required>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label>Service*</label>
                                        <select class="custom-select-box">
                                            <option>Wheel Works</option>
                                            <option>Wheel One</option>
                                            <option>Wheel Two</option>
                                            <option>Wheel Three</option>
                                            <option>Wheel Four</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label>Schedule Date & Time</label>
                                        <span class="clock-icon"><span class="icon fa fa-clock-o"></span></span>
                                        <input class="date-time-picker" type="text" name="fname" value="" placeholder="" required>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <button type="submit" class="theme-btn btn-style-one">Request a Service</button>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    	<div class="text"><span class="theme_color">*</span> Our customercare excutive will contact you within <span class="theme_color">24 hours</span> now onwards.</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--End Services Form-->
                    
                </div>
                <!--Time Column-->
                <div class="time-column col-lg-3 col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h3>Service Hours:</h3>
                        <ul>
                        	<li class="clearfix"><span class="left-text">Monday - Friday</span> <span class="right-text">09am - 18pm</span></li>
                            <li class="clearfix"><span class="left-text">Saturday</span> <span class="right-text">10am - 15pm</span></li>
                            <li class="clearfix"><span class="left-text">Sunday</span> <span class="right-text theme_color">Closed</span></li>
                        </ul>
                        <div class="text"><span class="theme_color">*</span> Every 3rd Staurday and all govt holidays are closed.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Services Schedule Sections-->
    
    <!--Brands Section-->
   
    <!--End Brands Section-->
    
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>
