<script src="/assets/js/jquery.js"></script> 
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.fancybox.pack.js"></script>
<script src="/assets/js/jquery.fancybox-media.js"></script>
<script src="/assets/js/owl.js"></script>
<script src="/assets/js/appear.js"></script>
<script src="/assets/js/jquery.datetimepicker.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script src="/assets/js/wow.js"></script>
<script src="/assets/js/script.js"></script>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
        
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/services/service-offers.506ea32b2a1fb2f1765352d4a51cbdaa.fill-1920x500.jpg);"> -->
         <div class="auto-container">
            <h1>Services</h1>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
            <ul class="bread-crumb">
                <li><a href="index.html">{{currentTab}}</a></li>
                <!-- <li>Pages</li> -->
                <li class="current">Services</li>
            </ul>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Services Section Two-->
    <section class="services-section-two">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<div class="image">
                    	<img ng-src="/uploads/{{generalService.serviceMainImage.path}}" alt="{{generalService.serviceMainImage.altValue}}" />
                    </div>
                </div>
                <!--Content Column-->
            	<div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                            <div class="edit-icons" ng-if="isAdmin()">
                                    <span ng-click="confirmPopup(generalService.id)"><a href=""><i class="fa fa-trash" data-toggle="modal" data-target=".bd-example-modal-sm"></i></a> </span>
                                    <span ng-click="editService(generalService)"><a href=""><i class="fa fa-edit"></i></a> </span>
                            </div>
                    	<div class="sec-title">
                        	<h2>{{generalService.serviceTitle}}</h2>
                        </div>
                        <div class="text">{{generalService.serviceDescription}}</div>
                        <div class="row clearfix">
                        	<div class="col-md-6 col-sm-6 col-xs-12">
                            	<ul class="list-style-four">
                                	<li>Replace the engine oil</li>
                                    <li>Check/Replace the fuel filter </li>
                                    <li>Check/Replace windshield wipers</li>
                                    <li>Replace air filter</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            	<ul class="list-style-four">
                                	<li>Flush transmission fluid</li>
                                    <li>Clean or replace battery </li>
                                    <li>Inspect or replace brake pads</li>
                                    <li>Inspect or replace timing belt</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Blocks Section-->
            <div class="services-blocks-section">
            	<div class="row clearfix">
                	
                    <!--Services Block Four-->
                    <div class="services-block-four col-md-4 col-sm-12 col-xs-12" ng-repeat="service in services track by $index">
                    	<div class="inner-box">
                                <div class="edit-icons" ng-if="isAdmin()">
                                        <span ng-click="confirmPopup(service.id)"><a href=""><i class="fa fa-trash" data-toggle="modal" data-target=".bd-example-modal-sm"></i></a> </span>
                                        <span ng-click="editService(service)"><a href=""><i class="fa fa-edit"></i></a> </span>
                                </div>
                        	<div class="image">
                                <img ng-src="/uploads/{{service.serviceMainImage.path}}" alt="{{service.serviceMainImage.altValue}}" />
                            </div>
                            <h3><a href="#">{{service.serviceTitle}}</a></h3>
                            <div class="text">{{service.serviceDescription}}</div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </section>
    <!--End Services Section Two-->
    
    <!--Services Section Three-->
    <section class="services-section-three" >
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title light centered">
            	<h2>Full Range Of Services</h2>
            </div>
            <div class="four-item-carousel owl-carousel owl-theme">
            
            	<!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-rim"></span>
                            </div>
                            <h3><a href="#">Wheel Works</a></h3>
                            <div class="text">Know how to pursue pleasure seds encounter consequences that are ut extremely painfull nor pursues.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-rim"></span>
                                </div>
                                <h3><a href="#">Wheel Works</a></h3>
                                <div class="text">Know how to pursue pleasure seds encounter consequences that are ut extremely painfull nor pursues.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-spray-gun"></span>
                            </div>
                            <h3><a href="#">Painting Works</a></h3>
                            <div class="text"> Praising pain was bon and give you a complete account of the uts system expound the actual teachings.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-spray-gun"></span>
                                </div>
                                <h3><a href="#">Painting Works</a></h3>
                                <div class="text"> Praising pain was bon and give you a complete account of the uts system expound the actual teachings.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-symbol"></span>
                            </div>
                            <h3><a href="#">Air Conditioner</a></h3>
                            <div class="text">There are many variationsavailable but the majority have suffereed seds alteration in some form.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-symbol"></span>
                                </div>
                                <h3><a href="#">Air Conditioner</a></h3>
                                <div class="text">There are many variationsavailable but the majority have suffereed seds alteration in some form.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-car-washing"></span>
                            </div>
                            <h3><a href="#">Water Service</a></h3>
                            <div class="text"> Which of usundertakes laborious physical exercise, except to ut obtain some advantage from it.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-car-washing"></span>
                                </div>
                                <h3><a href="#">Water Service</a></h3>
                                <div class="text"> Which of usundertakes laborious physical exercise, except to ut obtain some advantage from it.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-rim"></span>
                            </div>
                            <h3><a href="#">Wheel Works</a></h3>
                            <div class="text">Know how to pursue pleasure seds encounter consequences that are ut extremely painfull nor pursues.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-rim"></span>
                                </div>
                                <h3><a href="#">Wheel Works</a></h3>
                                <div class="text">Know how to pursue pleasure seds encounter consequences that are ut extremely painfull nor pursues.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-spray-gun"></span>
                            </div>
                            <h3><a href="#">Painting Works</a></h3>
                            <div class="text"> Praising pain was bon and give you a complete account of the uts system expound the actual teachings.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-spray-gun"></span>
                                </div>
                                <h3><a href="#">Painting Works</a></h3>
                                <div class="text"> Praising pain was bon and give you a complete account of the uts system expound the actual teachings.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-symbol"></span>
                            </div>
                            <h3><a href="#">Air Conditioner</a></h3>
                            <div class="text">There are many variationsavailable but the majority have suffereed seds alteration in some form.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-symbol"></span>
                                </div>
                                <h3><a href="#">Air Conditioner</a></h3>
                                <div class="text">There are many variationsavailable but the majority have suffereed seds alteration in some form.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Five-->
            	<div class="services-block-five">
                	<div class="inner-box">
                    	<div class="content-box">
                            <div class="icon-box">
                                <span class="icon flaticon-car-washing"></span>
                            </div>
                            <h3><a href="#">Water Service</a></h3>
                            <div class="text"> Which of usundertakes laborious physical exercise, except to ut obtain some advantage from it.</div>
                        </div>
                        <div class="overlay-box" style="background-image:url(assets/images/resource/service-5.jpg);">
                        	<div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-car-washing"></span>
                                </div>
                                <h3><a href="#">Water Service</a></h3>
                                <div class="text"> Which of usundertakes laborious physical exercise, except to ut obtain some advantage from it.</div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Services Section Three-->
    

    <!--Sell Car Section-->
    <section class="sell-car-section"  ng-if="isAdmin()">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Cell Car Column-->
                <div class="cell-car-column col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <!--Sec Title-->
                        <div class="sec-title">
                            <h2>Add / edit Service</h2>
                        </div>
                        
                        <!--Sell Car Form-->
                        <div class="sell-car-form">
                            <h2>Service Information</h2>
                            <div class="form-box">
                                <form >
                                    <div class="row clearfix">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="hidden" ng-model="model.id" name="name" value="" placeholder="" required="required"> -->
                                            <label>Name</label>
                                            <input type="text" ng-model="addEditService.serviceTitle" name="name" value="" placeholder="" required="required">
                                        </div>
                                        <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                            <label>Arabic Name</label>
                                            <input type="text" ng-model="addEditService.arServiceTitle" name="arName" value="" placeholder="" required="required">
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <label>description</label>
                                            <textarea  ng-model="addEditService.serviceDescription" name="firstParagraph" value="" placeholder="" required="required"></textarea>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <label>Arabic description</label>
                                            <textarea ng-model="addEditService.arServiceDescription" name="arFirstParagraph" value="" placeholder="" required="required"></textarea>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <label class="upload">Upload Service Photo</label>
                                            <div class="field-inner clearfix">
                                                <input id="ImageUploader1" type="file" ngf-select ng-model="up.file" name="file" 
                                                ngf-pattern="'image/*'"  accept="image/*" ngf-max-size="20MB"
                                                 style="display: none">
                                                 

                                                <button type="button" ng-click="openFileUploader()" class="upload-btn"><span class="fa fa-file-picture-o"></span> Choose File ...</button>
                                                Image thumbnail: <img style="width:100px;" ngf-thumbnail="up.file || '/thumb.jpg'"/>
                                                {{progress}}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <input type="checkbox" ng-model="addEditService.serviceIsGeneral" name="generalService" ng-true-value="true" ng-false-value="false"> main service?
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <button type="button" ng-click="addNewService()" class="theme-btn btn-style-one">submit Now</button>
                                            <button type="button" ng-click="clearData()" class="theme-btn btn-style-one">clear</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Services Schedule Sections-->
    <section class="services-schedule-sections grey-bg" ng-if="!isAdmin()">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title">
            	<h2>Schedule for Service</h2>
            </div>
            <div class="row clearfix">
            	<!--Form Column-->
            	<div class="form-column col-lg-9 col-md-12 col-sm-12 col-xs-12">
                	
                    <!--Services Form-->
                    <div class="services-form">
                        <div class="form-box">
                            <form method="post" >
                                <div class="row clearfix">
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label>Name*</label>
                                        <input type="text" name="name" ng-model = "requestService.name" value="" placeholder="" required>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label>Phone</label>
                                        <input type="text" name="phone" ng-model = "requestService.phone" value="" placeholder="" required>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label>Email*</label>
                                        <input type="text" name="email" ng-model = "requestService.email" value="" placeholder="" required>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                            <label>Car Brand</label>
                                            <input ng-disabled = "true" type="text" name="brand" ng-model = "requestService.brand" value="" placeholder="" required>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label>Car Model</label>
                                        <input type="text" name="model" ng-model = "requestService.model" value="" placeholder="" required>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                            <label>Chassis No</label>
                                            <input type="text" name="chassis" ng-model = "requestService.chassis" value="" placeholder="" required>
                                        </div>
                                    
                                    <!-- <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label>Service*</label>
                                        <select class="custom-select-box">
                                            <option>Wheel Works</option>
                                            <option>Wheel One</option>
                                            <option>Wheel Two</option>
                                            <option>Wheel Three</option>
                                            <option>Wheel Four</option>
                                        </select>
                                    </div> -->
                                    
                                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                        <button type="submit" ng-click="requestNewService()" class="theme-btn btn-style-one">Request a Service</button>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    	<div class="text"><span class="theme_color">*</span> Our customercare excutive will contact you within <span class="theme_color">24 hours</span> now onwards.</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--End Services Form-->
                    
                </div>
                <!--Time Column-->
                <div class="time-column col-lg-3 col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h3>Service Hours:</h3>
                        <ul>
                        	<li class="clearfix"><span class="left-text">Monday - Friday</span> <span class="right-text">09am - 18pm</span></li>
                            <li class="clearfix"><span class="left-text">Saturday</span> <span class="right-text">10am - 15pm</span></li>
                            <li class="clearfix"><span class="left-text">Sunday</span> <span class="right-text theme_color">Closed</span></li>
                        </ul>
                        <div class="text"><span class="theme_color">*</span> Every 3rd Staurday and all govt holidays are closed.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Services Schedule Sections-->
    
    <!--Brands Section-->
   
    <!--End Brands Section-->
    
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>
