<div class="page-wrapper">
 	
    <!-- Preloader -->
    
    <!-- <div class="preloader"></div> -->

    <section class="main-slider" ng-show="slider.length > 0">
    	
            <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
                <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                    <ul>
                        <li ng-repeat="slide in slider track by $index" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-{{slide.id}}" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default"  data-title="Slide Title" data-transition="parallaxvertical">
                            <img class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" ng-src="/uploads/{{slide.image.path}}" alt="{{slide.image.altValue}}"> 
                            <div class="edit-icons" ng-if="isAdmin()">
                                    <span ng-click="confirmPopup(slide.id)"><a href=""><i class="fa fa-trash"
                                        data-toggle="modal" data-target=".bd-example-modal-sm"></i></a> </span>
                                    <span ng-click="editSparePart(slide)"><a href=""><i class="fa fa-edit"></i></a>
                                    </span>
                                </div>
                               
                            <div class="tp-caption" 
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingtop="[0,0,0,0]"
                                data-responsive_offset="on"
                                data-type="text"
                                data-height="none"
                                data-width="['600','600','500','420']"
                                data-whitespace="normal"
                                data-hoffset="['15','15','15','15']"
                                data-voffset="['-20','-20','-20','-20']"
                                data-x="['right','right','right','right']"
                                data-y="['middle','middle','middle','middle']"
                                data-textalign="['top','top','top','top']"
                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                                <div class="slider-content">
                                        <h2 ng-if="lang=='ar' ">{{slide.arTitle}}</h2>
                                        <h2 ng-if="lang=='en' ">{{slide.title}}</h2>
                                        <div class="text"  ng-if="lang=='ar' ">{{slide.arParagraph}}</div>
                                        <div class="text"  ng-if="lang=='en' ">{{slide.paragraph}}</div>
                                </div>
                            </div>
                        
                        </li>
                        

                        
                    </ul>
                    
                </div>
            </div>
        </section>
        <!--Sell Car Section-->
<section class="sell-car-section" ng-if="isAdmin()">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Cell Car Column-->
                <div class="cell-car-column col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <!--Sec Title-->
                        <div class="sec-title">
                            <h2>{{'add_image_to_slider'|translate}}</h2>
                        </div>
    
                        <!--Sell Car Form-->
                        <div class="sell-car-form">
                            <h2>{{'image_info'|translate}}</h2>
                            <div class="form-box">
                                <form>
                                    <div class="row clearfix">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input type="hidden" ng-model="model.id" name="name" value="" placeholder=""
                                                required="required">
                                            <label>{{'english_title'|translate}}</label>
                                            <input type="text" ng-model="model.title" name="name" value="" placeholder=""
                                                required="required">
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <label>{{'arabic_title'|translate}}</label>
                                            <input type="text" ng-model="model.arTitle" name="arName" value="" placeholder=""
                                                required="required">
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label>{{'description'|translate}}</label>
                                                <textarea  ng-model="model.paragraph" name="firstParagraph" value="" placeholder="" required="required"></textarea>
                                            </div>
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label>{{'arabic_description'|translate}}</label>
                                                <textarea ng-model="model.arParagraph" name="arFirstParagraph" value="" placeholder="" required="required"></textarea>
                                            </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <label class="upload">{{'upload_photo'|translate}}</label>
                                            <div class="field-inner clearfix">
                                                <input id="ImageUploader1" type="file" ngf-select ng-model="up.file" name="file"
                                                    ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" style="display: none">
    
    
                                                <button type="button" ng-click="openFileUploader('ImageUploader1')" class="upload-btn"><span
                                                        class="fa fa-file-picture-o"></span> {{'Choose_File' |translate}}</button>
                                                        {{'image_thumbnail'|translate}}: <img style="width:100px;" ngf-thumbnail="up.file || '/thumb.jpg'" />
                                                {{progress}}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <button type="button" ng-click="addNewImageToSlider(up,model)" class="theme-btn btn-style-one">{{'submit_now'|translate}}</button>
                                            <button type="button" ng-click="clearData(model)" class="theme-btn btn-style-one">{{'cancel'|translate}}</button>
    
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <section class="about-section" ng-if="aboutUs">

                <div class="auto-container">
                    <!--Sec Title-->
                    <div class="sec-title">
                        <h2>{{'About_Us'|translate}}</h2>
                    </div>
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column col-md-4 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <div class="bold-text" style="margin-right: 20px;">
                                    <span ng-if="lang=='ar'">{{aboutUs.arTitle}}</span>
                                    <span ng-if="lang=='en'">{{aboutUs.title}}</span>
                                </div>
                                <div class="text">
                                    <span ng-if="lang=='ar'">{{aboutUs.arParagraph}}</span>
                                    <span ng-if="lang=='en'">{{aboutUs.paragraph}}</span>
                                </div>
                                <div class="blocks-column ">
                                    <div class="clearfix">
                                        <!--About Block-->
                                        <div class="about-block">
                                            <div class="lower-box">
                                                <h3>{{'work_smart'|translate}}</h3>
                                                <div class="text">
                                                    <ul ng-if="lang=='ar'" style="direction: rtl">
                                                        <li>&#9679; {{'work_smart1'|translate}}</li>
                                                        <li>&#9679; {{'work_smart2'|translate}}</li>
                                                        <li>&#9679; {{'work_smart3'|translate}}</li>
                                                        <li>&#9679; {{'work_smart4'|translate}}</li>
                
                                                    </ul>
                                                    <ul ng-if="lang=='en'" >
                                                            <li>&#9679; {{'work_smart1'|translate}}</li>
                                                            <li>&#9679; {{'work_smart2'|translate}}</li>
                                                            <li>&#9679; {{'work_smart3'|translate}}</li>
                                                            <li>&#9679; {{'work_smart4'|translate}}</li>
                    
                                                        </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </div>
                        <!--Blocks Column-->
                        <div class="blocks-column col-md-8 col-sm-12 col-xs-12">
                            <div class=" clearfix">
                                <!--About Block-->
                                <div class="about-block col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img ng-src="/uploads/{{aboutUs.missionImage.path}}" alt="{{aboutUs.missionImage.altValue}}"/>
                                        </div>
                                        <div class="lower-box">
                                            <h3><a >{{'mission_title'|translate}}</a></h3>
                                            <div class="text">
                                                    <span ng-if="lang=='ar'">{{aboutUs.arMissionParagraph}}</span> 
                                                    <span ng-if="lang=='en'">{{aboutUs.missionParagraph}}</span>
                                                    <br>
                                                    <ul>
                                                        <li><span ng-if="lang=='en'">&#9679; </span> {{'mission_section_point1'|translate}}<span ng-if="lang=='ar'" style="margin-left: 2px;">&#9679; </span></li>
                                                        <li><span ng-if="lang=='en'">&#9679; </span> {{'mission_section_point2'|translate}}<span ng-if="lang=='ar'" style="margin-left: 2px;">&#9679; </span></li>
                                                    </ul> 
                                            </div>
                                        </div>
                                        <div class="blocks-column ">
                                                <div class=" clearfix">
                                                    <!--About Block-->
                                                    <div class="about-block">
                                                        <div class="lower-box">
                                                            <h3>{{'act_like_owners'|translate}}</h3>
                                                            <div class="text">
                                                                <ul ng-if="lang=='ar'" style="direction: rtl">
                                                                    <li>&#9679; {{'act_like_owners1'|translate}}</li>
                                                                    <li>&#9679; {{'act_like_owners2'|translate}}</li>
                                                                    <li>&#9679; {{'act_like_owners3'|translate}}</li>                            
                                                                </ul>
                                                                <ul ng-if="lang=='en'" >
                                                                        <li>&#9679; {{'act_like_owners1'|translate}}</li>
                                                                        <li>&#9679; {{'act_like_owners2'|translate}}</li>
                                                                        <li>&#9679; {{'act_like_owners3'|translate}}</li>
                                
                                                                    </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    
                                </div>
                                

                                <!--About Block-->
                                <div class="about-block col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                            <img ng-src="/uploads/{{aboutUs.visionImage.path}}" alt="{{aboutUs.visionImage.altValue}}" />
                                        </div>
                                        <div class="lower-box">
                                                <h3><a >{{'vision_title'|translate}}</a></h3>
                                                <div class="text">
                                                    <span ng-if="lang=='ar'">{{aboutUs.arVisionParagraph}}</span> 
                                                    <span ng-if="lang=='en'">{{aboutUs.visionParagraph}}</span> 
                                                    <br>
                                                    <ul>
                                                        <li><span ng-if="lang=='en'">&#9679; </span> {{'vision_section_point1'|translate}}<span ng-if="lang=='ar'">&#9679; </span></li>
                                                        <li><span ng-if="lang=='en'">&#9679; </span> {{'vision_section_point2'|translate}}<span ng-if="lang=='ar'">&#9679; </span></li>
                                                        <li><span ng-if="lang=='en'">&#9679; </span> {{'vision_section_point3'|translate}}<span ng-if="lang=='ar'">&#9679; </span></li>
                                                        <li><span ng-if="lang=='en'">&#9679; </span> {{'vision_section_point4'|translate}}<span ng-if="lang=='ar'">&#9679; </span></li>
                                                        <li>
                                                            <span ng-if="lang=='en'">&#9679; </span> {{'vision_section_point5'|translate}}<span ng-if="lang=='ar'">&#9679; </span>
                                                        </li>
                                                        <li ng-if="lang=='en'" style="padding-left: 10px;">
                                                            <ul>
                                                                <li>&#9675; {{'vision_section_point51'|translate}}</li>
                                                                <li>&#9675; {{'vision_section_point52'|translate}}</li>
                                                                <li>&#9675; {{'vision_section_point53'|translate}}</li>
                                                                <li>&#9675;{{'vision_section_point54'|translate}}</li>
                                                                <li>&#9675;{{'vision_section_point55'|translate}}</li>
                                                                <li>&#9675; {{'vision_section_point56'|translate}}</li>
                                                            </ul>
                                                        </li>
                                                        <li ng-if="lang=='ar'" style="padding-right: 10px;direction: rtl;">
                                                            <ul >
                                                                <li >&#9675; {{'vision_section_point51'|translate}}</li>
                                                                <li >&#9675; {{'vision_section_point52'|translate}}</li>
                                                                <li >&#9675; {{'vision_section_point53'|translate}}</li>
                                                                <li >&#9675;{{'vision_section_point54'|translate}}</li>
                                                                <li >&#9675;{{'vision_section_point55'|translate}}</li>
                                                                <li >&#9675; {{'vision_section_point56'|translate}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul> 
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="row clearfix values_section" ng-if="lang =='en'">
                        <div style="text-align: center">
                            <h3 class="values_section_title">Our values are as unique and exclusive as our name </h3>
                            <h2 class="companyName" style="color:red" >
                                <span class="circle-text" id="1">A</span>
                                <span id="2">L</span>
                                <span id="3">B</span>
                                <span id="4">A</span>
                                <span id="5">R</span>
                                <span id="6">G</span>
                                <span id="7">A</span>
                                <span id="8">S</span>
                                <span id="9">Y</span>
                            </h2>
                        </div>
                        <div class="values" style="margin-top: 20px" style="text-align: center">
                            <h3 id="sec1" class="value_active">
                                <span class="sec_title">Accountability</span>: Applied to both individual accountability on the part of
                                employees and accountability of the
                                company as a whole to acknowledging and assuming responsibility for actions, products, decisions, and policies.
                            </h3>
                            <h3 id="sec2" class="value_inactive">
                                <span class="sec_title">Loyalty</span>: Our first loyalty to regular customers from our belief that customers
                                are the foundation upon which we
                                build our success
                            </h3>
                            <h3 id="sec3" class="value_inactive">
                                <span class="sec_title">Benefit</span>: We are delivering a value to all our stakeholders when we find wise
                                ways to reduce our expenses, we free
                                up funds to benefit our customers, and reward ours
                            </h3>
                            <h3 id="sec4" class="value_inactive">
                                <span class="sec_title">Adaptability</span>: Remaining flexible and adapting to change and providing a positive
                                attitude toward pipeline of new
                                ideas
                            </h3>
                            <h3 id="sec5" class="value_inactive">
                                <span class="sec_title">Responsibility</span>: Provide the highest level of customer service ever and retention
                                our employees as the human capital
                                as asset value for our organization
                            </h3>
                            <h3 id="sec6" class="value_inactive">
                                <span class="sec_title">Growth</span>: we serve our customer's needs, earn their trust, and grow our market
                                share to deliver value to all
                                stakeholders
                            </h3>
                            <h3 id="sec7" class="value_inactive">
                                    <span class="sec_title">Advantage</span>: To Become an effective leader
                            </h3>
                            <h3 id="sec8" class="value_inactive">
                                <span class="sec_title">Sustainability</span>: we want to set benchmark in sustainable practices in design
                                property and concept development, whilst providing higher standard of convince, security & quality to customer
                            </h3>
                            <h3 id="sec9" class="value_inactive">
                                <span class="sec_title">Young-Professionals</span>: we recognize that youth plays a clear role in the success
                                of companies. Take in their enthusiasm drive for every development </h3>
                        </div>
                        </div>
                </div>
            </section>

        <section class="sell-car-section" ng-if="isAdmin()">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Cell Car Column-->
                <div class="cell-car-column col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <!--Sec Title-->
                        <div class="sec-title">
                            <h2>{{'about_el_bargasy'|translate}}</h2>
                        </div>
    
                        <!--Sell Car Form-->
                        <div class="sell-car-form">
                            <h2>{{'image_info'|translate}}</h2>
                            <div class="form-box">
                                <form>
                                    <div class="row clearfix">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <input type="hidden" ng-model="aboutUs.id" name="name" value="" placeholder=""
                                                required="required">
                                            <label>{{'english_title'|translate}}</label>
                                            <input type="text" ng-model="aboutUs.title" name="name" value="" placeholder=""
                                                required="required">
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <label>{{'arabic_title'|translate}}</label>
                                            <input type="text" ng-model="aboutUs.arTitle" name="arName" value="" placeholder=""
                                                required="required">
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <label>{{'description'|translate}}</label>
                                            <textarea  ng-model="aboutUs.paragraph" name="firstParagraph" value="" placeholder="" required="required"></textarea>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <label>{{'arabic_description'|translate}}</label>
                                            <textarea ng-model="aboutUs.arParagraph" name="arFirstParagraph" value="" placeholder="" required="required"></textarea>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <label>{{'title_mission'|translate}}</label>
                                            <textarea  ng-model="aboutUs.missionParagraph" name="firstParagraph" value="" placeholder="" required="required"></textarea>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <label>{{'title_arabic_mission'|translate}}</label>
                                            <textarea ng-model="aboutUs.arMissionParagraph" name="arFirstParagraph" value="" placeholder="" required="required"></textarea>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-inner clearfix">
                                                <input id="ImageUploader2" type="file" ngf-select ng-model="up1.file" name="file"
                                                    ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" style="display: none">
    
    
                                                <button type="button" ng-click="openFileUploader('ImageUploader2')" class="upload-btn"><span
                                                        class="fa fa-file-picture-o"></span> {{'Choose_File' |translate}}</button>
                                                        {{'image_thumbnail'|translate}}: <img style="width:100px;" ngf-thumbnail="up1.file || '/thumb.jpg'" />
                                                {{progress}}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <label>{{'title_vision'|translate}}</label>
                                            <textarea  ng-model="aboutUs.visionParagraph" name="firstParagraph" value="" placeholder="" required="required"></textarea>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <label>{{'title_arabic_vision'|translate}}</label>
                                            <textarea ng-model="aboutUs.arVisionParagraph" name="arFirstParagraph" value="" placeholder="" required="required"></textarea>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-inner clearfix">
                                                <input id="ImageUploader3" type="file" ngf-select ng-model="up2.file" name="file"
                                                    ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" style="display: none">
    
    
                                                <button type="button" ng-click="openFileUploader('ImageUploader3')" class="upload-btn"><span
                                                        class="fa fa-file-picture-o"></span> {{'Choose_File' |translate}}</button>
                                                        {{'image_thumbnail'|translate}}: <img style="width:100px;" ngf-thumbnail="up2.file || '/thumb.jpg'" />
                                                {{progress}}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <button type="button" ng-click="addContactUs(up1,up2,aboutUs)" class="theme-btn btn-style-one">{{'submit_now'|translate}}</button>
                                            <button type="button" ng-click="clearData(aboutUs)" class="theme-btn btn-style-one">{{'clear'|translate}}</button>
    
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

            <!-- <section class="offer-section" ng-if="carModels.length > 0">
                    <div class="auto-container">
                        <div class="sec-title light centered">
                            <h2>{{'Latest_Cars'|translate}}</h2>
                        </div>
                        <div class="three-item-carousel owl-carousel owl-theme">
                        
                            <div ng-repeat="model in carModels" class="offer-block" >
                                <div class="inner-box">
                                    <div class="image">
                                        <a ng-click="goTopage('/' + model.car_brand.name +'/models/' + model.name )"><img ng-src="/uploads/{{model.mainImage.path}}" alt="{{model.mainImage.altValue}}" /></a>
                                    </div>
                                    <h3>
                                        <a ng-if="lang=='en'" ng-click="goTopage('/' + model.car_brand.name +'/models/' + model.name )" >{{model.name}}</a>
                                        <a ng-if="lang=='ar'" ng-click="goTopage('/' + model.car_brand.name +'/models/' + model.name )" >{{model.arName}}</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->
                    <!--Choose Section-->

    <!-- Section: Team v.1 -->
<section class="choose-section">
    <div class="auto-container">
    <!-- Section heading -->
    <div class="sec-title style-two">
        <h2>{{'group_management'|translate}}</h2>
    </div>
    
    <!-- Section description -->
    <!-- <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</p> -->
  
    <!-- Grid row -->
    <div class="row clearfix">
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="assets/images/group-management/rabie_t.jpeg" class="img-circle center-block z-depth-1">
        </div>
        <h3 class="font-weight-bold text-center mt-4 mb-3">{{'rabie_name'|translate}}</h3>
        <a ng-click="goTopage('/chairman')" style="margin: 10px;" class="text-uppercase text-center center-block blue-text">{{'rabie_position'|translate}}</a>
        <!-- <p class="text-uppercase text-center blue-text"><strong>{{'rabie_position'|translate}}</strong></p> -->
        <p class="grey-text text-center">{{'rabie_quote'|translate}}</p>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="assets/images/group-management/walid_t.jpg" class="img-circle center-block z-depth-1"
            alt="Sample avatar">
        </div>
        <h3 class="font-weight-bold text-center  mt-4 mb-3">{{'walid_name'|translate}}</h3>
        <a ng-click="goTopage('/vice_president_walid')" style="margin: 10px;" class="text-uppercase text-center center-block blue-text">{{'walid_position'|translate}}</a>
        <p class="grey-text text-center ">{{'walid_quote'|translate}}</p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="assets/images/group-management/shaimaa_t.jpg" class="img-circle center-block z-depth-1"
            alt="Sample avatar">
        </div>
        <h3 class="font-weight-bold text-center  mt-4 mb-3">{{'shaimaa_name'|translate}}</h3>
        <a ng-click="goTopage('/vice_president_shaimaa')" style="margin: 10px;" class="text-uppercase text-center center-block blue-text">{{'shaimaa_position'|translate}}</a>
        <!-- <p class="text-uppercase text-center  blue-text"><strong>{{'shaimaa_position'|translate}}</strong></p> -->
        <p class="grey-text text-center ">{{'shaimaa_quote'|translate}}</p>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto">
          <img src="assets/images/group-management/samar_t.jpg" class="img-circle center-block z-depth-1"
            alt="Sample avatar">
        </div>
        <h3 class="font-weight-bold text-center  mt-4 mb-3">{{'samar_name'|translate}}</h3>
        <a ng-click="goTopage('/ceo')" style="margin: 10px;" class="text-uppercase text-center center-block blue-text">{{'samar_position'|translate}}</a>
        <!-- <p class="text-uppercase text-center blue-text"><strong>{{'samar_position'|translate}}</strong></p> -->
        <p class="text-center grey-text">{{'samar_quote'|translate}}</p>
      </div>
      <!-- Grid column -->
  
    </div>
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Team v.1 -->
  <section class="choose-section" style="background-image:url(assets/images/background/3.jpg);">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title style-two">
            <h2>{{'other_services'|translate}}</h2>
        </div>
        <div class="row clearfix">
            <div class="city-block col-md-3 col-sm-4 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon flaticon-cabriolet"></span>
                    </div>
                    <h3><a >{{'service1'|translate}}</a></h3>
                </div>
            </div>
            <div class="city-block col-md-3 col-sm-4 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon flaticon-car-washing"></span>
                    </div>
                    <h3><a >{{'service2'|translate}}</a></h3>
                </div>
            </div>
            <!-- <div class="city-block col-md-3 col-sm-4 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-accounting"></span>
                        </div>
                        <h3><a >{{'service3'|translate}}</a></h3>
                    </div>
                </div> -->
                <div class="city-block col-md-3 col-sm-4 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon flaticon-contract"></span>
                    </div>
                    <h3><a >{{'service4'|translate}}</a></h3>
                </div>
            </div>
            <div class="city-block col-md-3 col-sm-4 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon fa fa-gear"></span>
                        </div>
                        <h3><a >{{'service5'|translate}}</a></h3>
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                        <img  src="assets/images/banks/egy-ahly.png">
                    </div>
            <div class="col-md-3 col-sm-3 col-xs-12 ">
                <img src="assets/images/banks/cib.png"> 
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <img src="assets/images/banks/qnb.png">
            </div>
            
                <div class="modify col-md-3 col-sm-3  col-xs-12">
                    <img src="assets/images/banks/arab-africa.png">
                </div>
            
            
            
        </div>
</section>
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>

<script src="../../../assets/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="../../../assets/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="../../../assets/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="../../../assets/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="../../../assets/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="../../../assets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="../../../assets/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>  
<script src="../../../assets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="../../../assets/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="../../../assets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="../../../assets/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<!-- <script src="../../../assets/js/main-slider-script.js"></script> -->
<!--End Revolution Slider-->
<script src="../../../assets/js/jquery-ui.js"></script>
<script src="../../../assets/js/jquery.fancybox.pack.js"></script>
<script src="../../../assets/js/jquery.fancybox-media.js"></script> 
<script src="../../../assets/js/owl.js"></script>
<script src="../../../assets/js/appear.js"></script>
<script src="../../../assets/js/wow.js"></script>

