<div class="page-wrapper">
 	
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
 	
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/5.jpg);">
        <div class="auto-container">
            <h1>{{'home'|translate}}</h1>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
            <ul class="bread-crumb">
                <li class="current">{{'home'|translate}}</li>
            </ul>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Inventory Section-->
    <section class="inventory-section ">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Column-->
                    <div class="column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        
                        <!--End Sec Title-->
                        <div class="row clearfix">
                            <!--Car Block-->
    
                            <div ng-if="carModels.length > 0" class="car-block col-lg-4 col-md-6 col-sm-6 col-xs-12"  ng-repeat="model in carModels">
                                <div class="inner-box">
                                    <div class="image">
                                            <div class="edit-icons" ng-if="isAdmin()">
                                                    <span ng-click="confirmPopup(model.id)"><a href=""><i class="fa fa-trash" data-toggle="modal" data-target=".bd-example-modal-sm"></i></a> </span>
                                                    <span ng-click="editmodel(model)"><a href=""><i class="fa fa-edit"></i></a> </span>
                                            </div>
                                        <a ng-click="goTopage('/' + model.car_brand.name +'/models/' + model.name )" ><img ng-src="/uploads/{{model.mainImage.path}}" alt="{{model.mainImage.altValue}}" /></a>
                                        <!-- <div class="price">$42000</div> -->
                                    </div>
                                    <h3>
                                        <a ng-if="lang=='en'" ng-click="goTopage('/' + model.car_brand.name +'/models/' + model.name )" >{{model.name}}</a>
                                        <a ng-if="lang=='ar'" ng-click="goTopage('/' + model.car_brand.name +'/models/' + model.name )" >{{model.arName}}</a>
                                    </h3>
                                    
                                    <!-- <div class="lower-box">
                                        <ul class="car-info">
                                            <li><span class="fa fa-road icon"></span>26000</li>
                                            <li><span class="icon fa fa-car"></span>Diesel</li>
                                            <li><span class="icon fa fa-clock-o"></span>2014</li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                            <!--Car Block-->
    
    
    
                        </div>
                        <!--Styled Pagination-->
                        <!-- <div class="styled-pagination text-center">
                            <ul class="clearfix">
                                <li><a href="#"><span class="fa fa-caret-left"></span></a></li>
                                <li><a href="#" class="active">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#"><span class="fa fa-caret-right"></span></a></li>
                            </ul>
                        </div> -->
                        <!--End Styled Pagination-->
                        
                    </div>
                    
                    
                    </div>
                </div>
            </div>
        </section>
    
        <!--End Inventory Section-->
    
    
          
    
       
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>