<section class="page-info">
    <div class="auto-container">
        <ul class="bread-crumb">
            <li><a ng-click="goTopage('/' + currentTab +'/models' )" >{{currentTab}}</a></li>
            <li class="current">{{carModel.name}}</li>
        </ul>
    </div>
</section>
    <!--Inventory Section-->
    <section class="inventory-section inventory-single">
            <div class="auto-container">
                <div class="row clearfix">
                    
                    <!--Column-->
                    <div class="column col-lg-9 col-md-8 col-sm-12 col-xs-12">
                        <!--Inventory Details-->
                        <div class="inventory-details">
                        
                            <!--Product Carousel-->
                            <div class="product-carousel-outer">
                                <div class="big-image-outer">
                                
                                    <!--Schedule Test Drive Form-->
                                    <!-- <div class="schedule-drive-outer">
                                        <div class="form-outer">
                                            <div class="form-header">
                                                <h2>Schedule a Test Drive</h2>
                                                <div class="vehicle-model">Skoda Citigo - READY, CITY, GO!</div>
                                                <div class="hide-form-btn"><span class="fa fa-close"></span></div>
                                            </div>
                                            <div class="form-box">
                                                <div class="cars-form">
                                                    <form method="post" action="contact.html">
                                                        <div class="row clearfix">
                                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                                <label>Name</label>
                                                                <div class="field-inner">
                                                                    <input type="text" name="field-name" value="" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                                <label>Email</label>
                                                                <div class="field-inner">
                                                                    <input type="email" name="field-name" value="" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                                <label>Phone</label>
                                                                <div class="field-inner">
                                                                    <input type="text" name="field-name" value="" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                                <label>Date &amp; Time</label>
                                                                <div class="field-inner">
                                                                    <span class="fa fa-clock-o"></span>
                                                                    <input class="date-time-picker" type="text" name="field-name" value="" placeholder="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                                <button class="theme-btn btn-style-one">Request Now</button>
                                                            </div>
                                                        </div>
                                                        
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    
                                    <!--Product image Carousel-->
                                    <ul class="prod-image-carousel owl-theme owl-carousel">
                                        <li ng-repeat = "image in carModel.sections[0].files">
                                            <figure class="image">
                                                <img  ng-src="/uploads/{{image.file.path}}" alt="">
                                                <a class="lightbox-image fancy-btn" data-fancybox-group="example-gallery" href="/uploads/{{image.file.path}}" title="Distenct headlights flank the grill to create the car's unmistakable face">
                                                    <span class="fa fa-search-plus"></span>
                                                </a>
                                            </figure>
                                        </li>

                                    </ul>
                                </div>
                                
                                <!--Product Thumbs Carousel-->
                                <div class="prod-thumbs-carousel owl-theme owl-carousel">
                                    <div class="thumb-item" ng-repeat = "image in carModel.sections[0].files">
                                        <figure class="thumb-box">
                                            <img ng-src="/uploads/{{image.file.path}}" alt="">
                                        </figure>
                                    </div>

                                </div>
                                
                            </div><!--End Product Carousel-->
                            
                            <!--Vehicle Details-->
                            <div class="vehicle-details">
                                <div class="text-description">
                                    <h2>{{currentTab}} {{carModel.name}}</h2>
                                    <div class="text">
                                        <p>{{carModel.firstParagraph}}</p>
                                    </div>
                                </div>
                                
                                <div class="images">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-5 col-sm-4 col-xs-12">
                                            <figure class="image"><img src="assets/images/citigo/skoda-citigo-m70-highlights.7372c446e46a65453bbbf3c74b5240e0.fill-840x380.jpg" alt=""></figure>
                                        </div>
                                        <div class="image-column col-md-7 col-sm-8 col-xs-12">
                                            <figure class="image"><img src="assets/images/citigo/skoda-citigo-m70-highlights.cdb28cec9696f2cfb2c33602efa915fe.fill-840x380 (1).jpg" alt=""></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Details Panel Box-->
                            <div class="details-panel-box">
                                <div class="panel-header"><div class="panel-btn clearfix"><h4><strong>Key Features</strong> of {{currentTab}} {{carModel.name}} </h4><div class="arrow"><span class="fa fa-angle-down"></span></div></div></div>
                                <div class="panel-content">
                                    <div class="content-box">
                                        <div class="listing-outer clearfix">
                                            <div class="list-column">
                                                <ul class="list-style-seven">
                                                    <li class="clearfix"><span class="ttl">Body</span><span class="dtl">Convertible</span></li>
                                                    <li class="clearfix"><span class="ttl">Total Kilometres</span><span class="dtl">2090Km’s</span></li>
                                                    <li class="clearfix"><span class="ttl">Fuel Type</span><span class="dtl">Unleaded petrol, RON 95/91*</span></li>
                                                    <li class="clearfix"><span class="ttl">Reg.Year</span><span class="dtl">2013, Aug</span></li>
                                                </ul>
                                            </div>
                                            <div class="list-column">
                                                <ul class="list-style-seven">
                                                    <li class="clearfix"><span class="ttl">Transmission</span><span class="dtl">Semi Automatic</span></li>
                                                    <li class="clearfix"><span class="ttl">Engine</span><span class="dtl">3.7L V-L cyl</span></li>
                                                    <li class="clearfix"><span class="ttl">Fuel Economy</span><span class="dtl">14.55 kmpl</span></li>
                                                    <li class="clearfix"><span class="ttl">Color</span><span class="dtl">TitaniumMetalic</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Details Panel Box-->
                            <div class="details-panel-box tech-details">
                                <div class="panel-header"><div class="panel-btn clearfix"><h4><strong>Technical Details</strong> of {{currentTab}} {{carModel.name}} </h4><div class="arrow"><span class="fa fa-angle-down"></span></div></div></div>
                                <div class="panel-content">
                                    <div class="content-box tabs-box inventory-tabs clearfix">
                                        <div class="tab-buttons-outer">
                                            <ul class="tab-buttons clearfix">
                                                <li class="tab-btn active-btn" data-tab="#tab-one">Performance</li>
                                                <li class="tab-btn" data-tab="#tab-two">Capacity</li>
                                                <li class="tab-btn" data-tab="#tab-three">Comfort</li>
                                                <li class="tab-btn" data-tab="#tab-four">Safety</li>
                                            </ul>
                                        </div>
                                        
                                        <!--Tabs Content-->
                                        <div class="tabs-content">
                                            <!--Tab / Active Tab-->
                                            <div class="tab active-tab" id="tab-one">
                                                <div class="listing-outer clearfix">
                                                    <div class="list-column">
                                                        <ul class="list-style-eight">
                                                            <li class="clearfix"><span class="ttl">Seating Capacity:</span><span class="dtl">3 Front and 4 Back Comfortable</span></li>
                                                            <li class="clearfix"><span class="ttl">Cargo Volume</span><span class="dtl">460-Litres Maximum</span></li>
                                                            <li class="clearfix"><span class="ttl">Number of Doors</span><span class="dtl">4 Doors (2 Front & 2 Back)</span></li>
                                                            <li class="clearfix"><span class="ttl">Tyre Type:</span><span class="dtl">Tubeless, Radial (ARBC Approved)</span></li>
                                                            <li class="clearfix"><span class="ttl">Tyre Size:</span><span class="dtl">218/53 R15 ( With Stepney)</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="list-column">
                                                        <ul class="list-style-eight">
                                                            <li class="clearfix"><span class="ttl">Wheel Size</span><span class="dtl">165/38 R15 (With Stepney)</span></li>
                                                            <li class="clearfix"><span class="ttl">Wheel Type</span><span class="dtl">Alloy Wheel (ARBC Approved)</span></li>
                                                            <li class="clearfix"><span class="ttl">Fuel Tank Capacity:</span><span class="dtl">65 Litres</span></li>
                                                            <li class="clearfix"><span class="ttl">Front Headroom:</span><span class="dtl">914mm Front Headroom</span></li>
                                                            <li class="clearfix"><span class="ttl">Rear Headroom:</span><span class="dtl">916mm Rear Headroom</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!--End Tab-->
                                            <!--Tab-->
                                            <div class="tab" id="tab-two">
                                                <div class="listing-outer clearfix">
                                                    <div class="list-column">
                                                        <ul class="list-style-eight">
                                                            <li class="clearfix"><span class="ttl">Seating Capacity:</span><span class="dtl">3 Front and 4 Back Comfortable</span></li>
                                                            <li class="clearfix"><span class="ttl">Cargo Volume</span><span class="dtl">460-Litres Maximum</span></li>
                                                            <li class="clearfix"><span class="ttl">Number of Doors</span><span class="dtl">4 Doors (2 Front & 2 Back)</span></li>
                                                            <li class="clearfix"><span class="ttl">Tyre Type:</span><span class="dtl">Tubeless, Radial (ARBC Approved)</span></li>
                                                            <li class="clearfix"><span class="ttl">Tyre Size:</span><span class="dtl">218/53 R15 ( With Stepney)</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="list-column">
                                                        <ul class="list-style-eight">
                                                            <li class="clearfix"><span class="ttl">Wheel Size</span><span class="dtl">165/38 R15 (With Stepney)</span></li>
                                                            <li class="clearfix"><span class="ttl">Wheel Type</span><span class="dtl">Alloy Wheel (ARBC Approved)</span></li>
                                                            <li class="clearfix"><span class="ttl">Fuel Tank Capacity:</span><span class="dtl">65 Litres</span></li>
                                                            <li class="clearfix"><span class="ttl">Front Headroom:</span><span class="dtl">914mm Front Headroom</span></li>
                                                            <li class="clearfix"><span class="ttl">Rear Headroom:</span><span class="dtl">916mm Rear Headroom</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!--End Tab-->
                                            <!--Tab-->
                                            <div class="tab" id="tab-three">
                                                <div class="listing-outer clearfix">
                                                    <div class="list-column">
                                                        <ul class="list-style-eight">
                                                            <li class="clearfix"><span class="ttl">Seating Capacity:</span><span class="dtl">3 Front and 4 Back Comfortable</span></li>
                                                            <li class="clearfix"><span class="ttl">Cargo Volume</span><span class="dtl">460-Litres Maximum</span></li>
                                                            <li class="clearfix"><span class="ttl">Number of Doors</span><span class="dtl">4 Doors (2 Front & 2 Back)</span></li>
                                                            <li class="clearfix"><span class="ttl">Tyre Type:</span><span class="dtl">Tubeless, Radial (ARBC Approved)</span></li>
                                                            <li class="clearfix"><span class="ttl">Tyre Size:</span><span class="dtl">218/53 R15 ( With Stepney)</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="list-column">
                                                        <ul class="list-style-eight">
                                                            <li class="clearfix"><span class="ttl">Wheel Size</span><span class="dtl">165/38 R15 (With Stepney)</span></li>
                                                            <li class="clearfix"><span class="ttl">Wheel Type</span><span class="dtl">Alloy Wheel (ARBC Approved)</span></li>
                                                            <li class="clearfix"><span class="ttl">Fuel Tank Capacity:</span><span class="dtl">65 Litres</span></li>
                                                            <li class="clearfix"><span class="ttl">Front Headroom:</span><span class="dtl">914mm Front Headroom</span></li>
                                                            <li class="clearfix"><span class="ttl">Rear Headroom:</span><span class="dtl">916mm Rear Headroom</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!--End Tab-->
                                            <!--Tab-->
                                            <div class="tab" id="tab-four">
                                                <div class="listing-outer clearfix">
                                                    <div class="list-column">
                                                        <ul class="list-style-eight">
                                                            <li class="clearfix"><span class="ttl">Seating Capacity:</span><span class="dtl">3 Front and 4 Back Comfortable</span></li>
                                                            <li class="clearfix"><span class="ttl">Cargo Volume</span><span class="dtl">460-Litres Maximum</span></li>
                                                            <li class="clearfix"><span class="ttl">Number of Doors</span><span class="dtl">4 Doors (2 Front & 2 Back)</span></li>
                                                            <li class="clearfix"><span class="ttl">Tyre Type:</span><span class="dtl">Tubeless, Radial (ARBC Approved)</span></li>
                                                            <li class="clearfix"><span class="ttl">Tyre Size:</span><span class="dtl">218/53 R15 ( With Stepney)</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="list-column">
                                                        <ul class="list-style-eight">
                                                            <li class="clearfix"><span class="ttl">Wheel Size</span><span class="dtl">165/38 R15 (With Stepney)</span></li>
                                                            <li class="clearfix"><span class="ttl">Wheel Type</span><span class="dtl">Alloy Wheel (ARBC Approved)</span></li>
                                                            <li class="clearfix"><span class="ttl">Fuel Tank Capacity:</span><span class="dtl">65 Litres</span></li>
                                                            <li class="clearfix"><span class="ttl">Front Headroom:</span><span class="dtl">914mm Front Headroom</span></li>
                                                            <li class="clearfix"><span class="ttl">Rear Headroom:</span><span class="dtl">916mm Rear Headroom</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!--End Tab-->
                                            
                                        </div><!--End Tabs Content-->
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <!--Details Panel Box-->
                            <div class="details-panel-box extra-features">
                                <div class="panel-header"><div class="panel-btn clearfix"><h4><strong>Extra Features </strong> of {{currentTab}} {{carModel.name}} </h4><div class="arrow"><span class="fa fa-angle-down"></span></div></div></div>
                                <div class="panel-content">
                                    <div class="content-box">
                                        <div class="listing-outer clearfix">
                                            <div class="list-column">
                                                <ul class="list-style-nine">
                                                    <li>Auto on Headlights</li>
                                                    <li>LED Taillights</li>
                                                    <li>Solar Tinted Glass</li>
                                                    <li>Spare Tire Kit (Inflator)</li>
                                                </ul>
                                            </div>
                                            <div class="list-column">
                                                <ul class="list-style-nine">
                                                    <li>Sensor Airbags (Approved)</li>
                                                    <li>Child Seat Anchors</li>
                                                    <li>Anti Theft System (Alarm)</li>
                                                    <li>Advanced Bluetooth</li>
                                                </ul>
                                            </div>
                                            <div class="list-column">
                                                <ul class="list-style-nine">
                                                    <li>CD & DVD Players</li>
                                                    <li>Electric Side Mirror</li>
                                                    <li>Navigation System</li>
                                                    <li>Rear Traffic Alert</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Offer Box-->
                           
                            
                        </div>
                    </div>
                    
                    <!--Form Column-->
                    <div class="form-column col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        
                        <!-- Search Box -->
                        <!-- <div class="faq-search-box">
                            <div class="outer-box">
                                <form method="post" action="contact.html">
                                    <div class="form-group">
                                        <input type="search" name="search-field" value="" placeholder="Search" required>
                                        <button type="submit"><span class="icon fa fa-search"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                        
                        
                        <!--Brochures Widget-->
                        <div class="brochures-widget">
                            <div class="default-sidebar-title"><h2>Our Brochures</h2></div>
                            <ul class="brochures-list">
                                <li><a href="images/citigo/CITIGO-Catalogue.0a052170396bd56eebcad30bc69bd10f.pdf"><span class="fa fa-file-pdf-o"></span> Catalogue.pdf</a></li>
                                <li><a href="images/citigo/CITIGO-Accessories.5dc5bf440b707590a7a21e0f79126298.pdf"><span class="fa fa-file-pdf-o"></span> Accessories.pdf</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <script src="../../../assets/js/script.js"></script> 
