<div class="page-wrapper">

    <!-- Main Header-->
    <header class="main-header">
        <!-- Header-->

        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container">
                <div class="clearfix">
                    <!--Top Left-->
                    <div class="top-left">
                        <ul class="dropdown-option clearfix">
                            <li class="location dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span
                                        class="icon fa fa-gear"></span>Select Language &nbsp;<span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Arabic</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="social-links">
                            <a href="#"><span class="fa fa-facebook-f"></span></a>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                            <a href="#"><span class="fa fa-linkedin"></span></a>
                            <a href="#"><span class="fa fa-vimeo"></span></a>
                            <a href="#"><span class="fa fa-rss"></span></a>
                        </div>
                    </div>
                    <!--Top Right-->
                    <div class="top-right">
                        <ul class="dropdown-option clearfix">
                            <li class="account dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span
                                        class="icon flaticon-user"></span>&ensp;My Account &nbsp;<span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">
                                    <li><a href="#account">My Account</a></li>
                                    <li><a href="#">Settings</a></li>
                                    <li><a href="#">Wishlist</a></li>
                                    <li><a href="#">Cart</a></li>
                                </ul>
                            </li>
                            <li><a class="sell-car" href="#">Sell Your Car</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!--Header-Upper-->
        <div class="header-upper">
            <div class="auto-container">
                <div class="upper-inner clearfix">

                    <div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt="" title=""></a></div>
                    </div>

                    <div class="upper-right clearfix">

                        <div class="nav-outer clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="current dropdown"><a href="index.html">SKODA</a>
                                            <ul>
                                                <li><a href="index.html">Models</a></li>
                                                <li><a ng-href="#services/1">Service Center</a></li>
                                                <li><a href="#">Spare Parts</a></li>
                                            </ul>
                                        </li>
                                        <!-- <li><a href="services.html">Services</a></li> -->
                                        <li class="dropdown"><a href="#">TOYOTA</a>
                                            <ul>
                                                <li><a href="#">Models</a></li>
                                                <li><a ng-href="#services/2">Service Center</a></li>
                                                <li><a href="#">Spare Parts</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Cars</a>
                                            <ul>
                                                <li><a href="#">Buy</a></li>
                                                <li><a href="#">Sell a Car</a></li>
                                                <li><a href="#">Exchange</a></li>
                                                <li><a href="#">Service Center</a></li>
                                                <!-- <li><a href="faq.html">FAQ’s</a></li>
                                        <li><a href="loan-calculater.html">Loan Calculator</a></li>
                                        <li><a href="error-page.html">404 Page</a></li> -->
                                            </ul>
                                        </li>
                                        <!-- <li class="dropdown"><a href="#">Shop</a>
                                    <ul>
                                        <li><a href="shop.html">Our Shop</a></li>
                                        <li><a href="shop-single.html">Shop Single</a></li>
                                        <li><a href="shoping-cart.html">Shoping Cart</a></li>
                                        <li><a href="checkout.html">CheckOut</a></li>
                                        <li><a href="account.html">Account</a></li>
                                    </ul>
                                </li> -->
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                            <!-- Main Menu End-->

                            <!--More Options-->
                            <div class="more-options">
                                <div class="cart-box">
                                    <a href="shoping-cart.html">Cart <span class="icon fa fa-shopping-cart"><span class="number">0</span></span></a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--End Header Upper-->


        <div class="header-lower">
            <div class="auto-container">
                <div class="lower-inner">
                    <ul class="info-block">
                        <li><span class="icon flaticon-maps-and-flags"></span>2 AlMansourya RD, Giza, Egypt</li>
                        <li><span class="icon flaticon-telephone"></span>Phone: +201022214312</li>
                        <li><span class="icon flaticon-timer"></span>Mon-Satday: 09.00am to 18.00pm</li>
                    </ul>
                    <!-- Search -->
                    <div class="search-box">
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search..." required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" class="img-responsive" title="Car World"><img src="assets/images/logo-small.png"
                            alt="Tali" title="Car World"></a>
                </div>

                <!--Right Col-->
                <div class="right-col pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="dropdown current"><a href="index.html">SKODA</a>
                                    <ul>
                                        <li><a href="index.html">Models</a></li>
                                        <li><a ng-href="#services/1">Service Center</a></li>
                                        <li><a href="#">Spare Parts</a></li>
                                    </ul>
                                </li>
                                <!-- <li><a href="services.html">Services</a></li> -->
                                <li class="dropdown"><a href="#">TOYOTA</a>
                                    <ul>
                                        <li><a href="#">Models</a></li>
                                        <li><a ng-href="#services/2">Service Center</a></li>
                                        <li><a href="#">Spare Parts</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown"><a href="#">Cars</a>
                                    <ul>
                                        <li><a href="#">Buy</a></li>
                                        <li><a href="#">Sell a Car</a></li>
                                        <li><a href="#">Exchange</a></li>
                                        <li><a href="#">Service Center</a></li>
                                        <!-- <li><a href="faq.html">FAQ’s</a></li>
                                                <li><a href="loan-calculater.html">Loan Calculator</a></li>
                                                <li><a href="error-page.html">404 Page</a></li> -->
                                    </ul>
                                </li>
                                <!-- <li class="dropdown"><a href="#">Shop</a>
                                            <ul>
                                                <li><a href="shop.html">Our Shop</a></li>
                                                <li><a href="shop-single.html">Shop Single</a></li>
                                                <li><a href="shoping-cart.html">Shoping Cart</a></li>
                                                <li><a href="checkout.html">CheckOut</a></li>
                                                <li><a href="account.html">Account</a></li>
                                            </ul>
                                        </li> -->
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>

            </div>
        </div>
        <!--End Sticky Header-->

    </header>
    <!--End Main Header -->



</div>