
<div class="page-wrapper">
 	
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/5.jpg);">
        <div class="auto-container">
            <h1>{{'contact_us'|translate}}</h1>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
            <ul class="bread-crumb">
                <li><a ng-click="goTopage('/home')">{{'home'|translate}}</a></li>
                <li class="current">{{'contact_us'|translate}}</li>
            </ul>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Contact Form Section-->
    <section class="contact-form-section">
    	<div class="auto-container">
        	<div class="sec-title">
            	<h2>{{'Send_Message'|translate}}</h2>
                <div class="text">{{'contact_us_msg'|translate}}</div>
            </div>
        	
            <!--Contact Form-->
            <div class="contact-form">
                <form method="post" ng-submit="sendMsg(msg,1)" id="contact-form">
                    <div class="row clearfix">
                        <div class="column col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" name="username" ng-model="msg.name" placeholder="{{'Your_Name' | translate}}" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" ng-model="msg.email" placeholder="{{'your_email'|translate}}" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" ng-model="msg.phone" placeholder="{{'your_phone'|translate}}" required>
                            </div>
                        </div>
                        
                        <div class="column col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <textarea name="message" ng-model="msg.messsage" placeholder="{{'msg' | translate}}"></textarea>
                            </div>
                        </div>
                        <div class="column btn-column col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <button class="theme-btn btn-style-one"  type="submit" name="submit-form">{{'send'|translate}}</button>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </section>
    <!--End Contact Form Section-->
    
    <!--Contact Detailed Section-->
    <section class="contact-detailed-section">
            <div class="auto-container">
                    <!--Sec Title-->
                    <div class="sec-title light centered">
                        <h2>{{'toyota'|translate}}</h2>
                    </div>
                    <div class="row clearfix">
                            <!-- <div class="row">
                                    <h2>{{'toyota'|translate}}</h2>
                                </div> -->
                        <!--Headquater-->
                        <div class="column col-md-4 col-sm-6 col-xs-12">
                            <div class="headquater-box">
                                <div class="inner-box">
                                        <h2>{{'gizaShowRoomTitle'|translate}}</h2>
                                        <ul class="list-style-six">
                                            <li><span class="icon flaticon-maps-and-flags"></span><span class="bold">{{'addres_label'|translate}} : </span>{{'address_toyota_giza'|translate}}</li>
                                            <li><span class="icon flaticon-telephone"></span><span class="bold">{{'telephone_label'|translate}} : </span>0235736290 – 0235733919</li>
                                            <li><span class="icon flaticon-telephone"></span><span class="bold">{{'mobile_label'|translate}} : </span>01002518791</li>
                                            <li><span class="icon flaticon-telephone"></span><span class="bold">{{'fax_label'|translate}} : </span>0235720378</li>
                                            <li><span class="icon flaticon-e-mail-envelope"></span><span class="bold">{{'Mail_Us'|translate}} : </span><br>Info@albargasy.com</li>
                                            <li><span class="icon flaticon-clock"></span><span class="bold">{{'Working_Hours'|translate}} : </span>{{'Giza_Working_Hours'|translate}}</li>
                                        </ul>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="column col-md-4 col-sm-6 col-xs-12">
                                <div class="headquater-box">
                                    <div class="inner-box">
                                        <h2>{{'haramShowRoomTitle'|translate}}</h2>
                                        <ul class="list-style-six">
                                            <li><span class="icon flaticon-maps-and-flags"></span><span class="bold">{{'addres_label'|translate}} : </span>{{'address_toyota_haram'|translate}}</li>
                                            <li><span class="icon flaticon-telephone"></span><span class="bold">{{'telephone_label'|translate}} : </span>0237405052</li>
                                            <li><span class="icon flaticon-telephone"></span><span class="bold">{{'mobile_label'|translate}} : </span>01220290002</li>
                                            <li><span class="icon flaticon-telephone"></span><span class="bold">{{'fax_label'|translate}} : </span>0233826923</li>
                                            <li><span class="icon flaticon-e-mail-envelope"></span><span class="bold">{{'Mail_Us'|translate}} : </span><br>Info@albargasy.com</li>
                                            <li><span class="icon flaticon-clock"></span><span class="bold">{{'Working_Hours'|translate}} : </span>{{'Haram_Working_Hours'|translate}}</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        <!--Sales-->
                        <!-- <div class="column col-md-4 col-sm-6 col-xs-12">
                            <div class="sales-department">
                                <div class="inner-box">
                                    <h2>{{'Sales_Department'|translate}}</h2>
                                    <div class="single-item-carousel owl-carousel owl-theme">
                                    
                                        <div class="slide">
                                            <h3>{{'carsales' | translate}}</h3>
                                            <div class="department-author">
                                                <div class="inner-box">
                                                    <div class="content">
                                                        <div class="image">
                                                            <img src="assets/images/resource/author-7.jpg" alt="" />
                                                        </div>
                                                        <h3>Hesham Hamed</h3>
                                                        <ul>
                                                            <li><span class="icon fa fa-phone"></span>010 9 247 7764</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <div class="department-author">
                                                <div class="inner-box">
                                                    <div class="content">
                                                        <div class="image">
                                                            <img src="assets/images/resource/author-8.jpg" alt="" />
                                                        </div>
                                                        <h3>Mohamed Abd El-hamed</h3>
                                                        <ul>
                                                            <li><span class="icon fa fa-phone"></span>010 0 251 8791</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="slide">
                                            <h3>{{'serviceCenter' | translate}}</h3>
                                            <div class="department-author">
                                                <div class="inner-box">
                                                    <div class="content">
                                                        <div class="image">
                                                            <img src="assets/images/resource/iconfinder_1_avatar_2754574.png" alt="" />
                                                        </div>
                                                        <h3>Alaa Fouad</h3>
                                                        <ul>
                                                            <li><span class="icon fa fa-phone"></span>010 1 366 6817</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <div class="department-author">
                                                <div class="inner-box">
                                                    <div class="content">
                                                        <div class="image">
                                                            <img src="assets/images/resource/iconfinder_2_avatar_2754578.png" alt="" />
                                                        </div>
                                                        <h3>Mohamed Refat</h3>
                                                        <ul>
                                                            <li><span class="icon fa fa-phone"></span>010 2 167 9106</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="slide">
                                            <h3>{{'spare_parts' | translate}}</h3>
                                            <div class="department-author">
                                                <div class="inner-box">
                                                    <div class="content">
                                                        <div class="image">
                                                            <img src="assets/images/resource/iconfinder_3_avatar_2754579.png" alt="" />
                                                        </div>
                                                        <h3>Abd El-Aziz Abd El-Hamed</h3>
                                                        <ul>
                                                            <li><span class="icon fa fa-phone"></span>010 0 116 2128</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <div class="department-author">
                                                <div class="inner-box">
                                                    <div class="content">
                                                        <div class="image">
                                                            <img src="assets/images/resource/iconfinder_8_avatar_2754583.png" alt="" />
                                                        </div>
                                                        <h3>Ali El-Laban</h3>
                                                        <ul>
                                                            <li><span class="icon fa fa-phone"></span>010 3 336 0195</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!--Hours-->
                        <!-- <div class="column col-md-4 col-sm-12 col-xs-12">
                            <div class="hours-block">
                                <div class="inner-box">
                                    <h2>{{'Working_Hours'|translate}}</h2>
                                    <ul>
                                        <li class="clearfix">{{'Saturday'|translate}}<span>09:00{{'am'|translate}} - 06:00{{'pm'|translate}}</span></li>
                                        <li class="clearfix">{{'Sunday'|translate}}<span>09:00{{'am'|translate}} - 06:00{{'pm'|translate}}</span></li>
                                        <li class="clearfix">{{'Monday'|translate}}<span>09:00{{'am'|translate}} - 06:00{{'pm'|translate}}</span></li>
                                        <li class="clearfix">{{'Tuesday'|translate}}<span>09:00{{'am'|translate}} - 06:00{{'pm'|translate}}</span></li>
                                        <li class="clearfix">{{'Wednesday'|translate}}<span>09:00{{'am'|translate}} - 06:00{{'pm'|translate}}</span></li>
                                        <li class="clearfix">{{'Thursday'|translate}}<span>09:00{{'am'|translate}} - 06:00{{'pm'|translate}}</span></li>
                                        <li class="clearfix">{{'Friday'|translate}}<span >09:00{{'am'|translate}} - 06:00{{'pm'|translate}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="auto-container">
                        <!--Sec Title-->
                        <div class="sec-title light centered">
                            <h2>{{'skoda'|translate}}</h2>
                        </div>
                        <div class="row clearfix">
                            <div class="column col-md-4 col-sm-6 col-xs-12">
                                <div class="headquater-box">
                                    <div class="inner-box">
                                            <h2>{{'skodaShowRoomTitle'|translate}}</h2>
                                            <ul class="list-style-six">
                                                <li><span class="icon flaticon-maps-and-flags"></span><span class="bold">{{'addres_label'|translate}} : </span>{{'address_skoda'|translate}}</li>
                                                <li><span class="icon flaticon-telephone"></span><span class="bold">{{'telephone_label'|translate}} : </span>0238753006 – 0238753007 - 0238753008</li>
                                                <li><span class="icon flaticon-telephone"></span><span class="bold">{{'mobile_label'|translate}} : </span> 01095090999 - 01094040999 - 01094090999</li>
                                                <li><span class="icon flaticon-telephone"></span><span class="bold">{{'fax_label'|translate}} : </span>0238753004</li>
                                                <li><span class="icon flaticon-e-mail-envelope"></span><span class="bold">{{'Mail_Us'|translate}} : </span><br>Info@albargasy.com</li>
                                            </ul>
                                        <ul class="social-icon-four">
                                            <!-- <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-skype"></span></a></li> -->
                                        </ul>
                                        <hr style="border-top:none">
                                    </div>
                                </div>
                            </div>
                            <!--Hours-->
                            <div class="column col-md-4 col-sm-12 col-xs-12">
                                <div class="hours-block">
                                    <div class="inner-box">
                                        <h2>{{'Working_Hours'|translate}}</h2>
                                        <ul>
                                            <li class="clearfix">{{'Saturday'|translate}}<span>10:00{{'am'|translate}} - 10:00{{'pm'|translate}}</span></li>
                                            <li class="clearfix">{{'Sunday'|translate}}<span>10:00{{'am'|translate}} - 10:00{{'pm'|translate}}</span></li>
                                            <li class="clearfix">{{'Monday'|translate}}<span>10:00{{'am'|translate}} - 10:00{{'pm'|translate}}</span></li>
                                            <li class="clearfix">{{'Tuesday'|translate}}<span>10:00{{'am'|translate}} - 10:00{{'pm'|translate}}</span></li>
                                            <li class="clearfix">{{'Wednesday'|translate}}<span>10:00{{'am'|translate}} - 10:00{{'pm'|translate}}</span></li>
                                            <li class="clearfix">{{'Thursday'|translate}}<span>10:00{{'am'|translate}} - 10:00{{'pm'|translate}}</span></li>
                                            <li class="clearfix">{{'Friday'|translate}}<span >01:00{{'pm'|translate}} - 10:00{{'pm'|translate}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="auto-container">
                                <!--Sec Title-->
                                <div class="sec-title light centered">
                                    <h2>{{'cars'|translate}}</h2>
                                </div>
                                <div class="row clearfix">
                                    <div class="column col-md-4 col-sm-6 col-xs-12">
                                        <div class="headquater-box">
                                            <div class="inner-box">
                                                    <!-- <h2>{{'skodaShowRoomTitle'|translate}}</h2> -->
                                                    <ul class="list-style-six">
                                                        <li><span class="icon flaticon-maps-and-flags"></span><span class="bold">{{'addres_label'|translate}} : </span>{{'address_mega_store'|translate}}</li>
                                                        <li><span class="icon flaticon-telephone"></span><span class="bold">{{'telephone_label'|translate}} : </span>0233882992</li>
                                                        <li><span class="icon flaticon-telephone"></span><span class="bold">{{'mobile_label'|translate}} : </span> 01022214312</li>
                                                        <li><span class="icon flaticon-telephone"></span><span class="bold">{{'fax_label'|translate}} : </span>0233882993</li>
                                                        <li><span class="icon flaticon-e-mail-envelope"></span><span class="bold">{{'Mail_Us'|translate}} : </span><br>Info@albargasy.com</li>
                                                        <li><span class="icon flaticon-clock"></span><span class="bold">{{'Working_Hours'|translate}} : </span>{{'mega_showroom_working_hours'|translate}}</li>
                                                    </ul>
                                                <ul class="social-icon-four">
                                                    <!-- <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                                    <li><a href="#"><span class="fa fa-skype"></span></a></li> -->
                                                </ul>
                                                <hr style="border-top:none">
                                            </div>
                                        </div>
                                    </div>
                                    <!--Hours-->
                                    <!-- <div class="column col-md-4 col-sm-12 col-xs-12">
                                        <div class="hours-block">
                                            <div class="inner-box">
                                                <h2>{{'Working_Hours'|translate}}</h2>
                                                <ul>
                                                    <li class="clearfix">{{'Saturday'|translate}}<span>09:00{{'am'|translate}} - 08:00{{'pm'|translate}}</span></li>
                                                    <li class="clearfix">{{'Sunday'|translate}}<span>09:00{{'am'|translate}} - 06:00{{'pm'|translate}}</span></li>
                                                    <li class="clearfix">{{'Monday'|translate}}<span>10:00{{'am'|translate}} - 08:00{{'pm'|translate}}</span></li>
                                                    <li class="clearfix">{{'Tuesday'|translate}}<span>09:00{{'am'|translate}} - 08:00{{'pm'|translate}}</span></li>
                                                    <li class="clearfix">{{'Wednesday'|translate}}<span>09:00{{'am'|translate}} - 06:00{{'pm'|translate}}</span></li>
                                                    <li class="clearfix">{{'Thursday'|translate}}<span>10:00{{'am'|translate}} - 02:00{{'pm'|translate}}</span></li>
                                                    <li class="clearfix">{{'Friday'|translate}}<span class="closed">{{'Close'|translate}}</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                    
    </section>
    <!--End Contact Detailed Section-->
    
    <!--Map Section-->
    
	<!--End Map Section-->
    
    <!--Newsletter-->
    <section class="subscribe-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>{{'NEWSLETTER_SUBSCRIBE' | translate}}</h2>
            </div>
            <!--End Sec Title-->
            <div class="text">{{'NEWSLETTER_SUBSCRIBE_MSG'|translate}}</div>
            <div class="subscribe-form">
            	<!--Subscribe Form-->
                <form method="post" ng-submit="sendMsg(sub,2)">
                	<div class="row clearfix">
                        <div class="column col-md-9 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="text" value="" ng-model="sub.name" placeholder="{{'Your_Name'|translate}}" required>
                                </div>
                                
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" name="email" value="" ng-model="sub.email" placeholder="{{'your_email'|translate}}" required>
                                </div>
                            </div>
                         </div>
                         <div class="column col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <button type="submit" class="theme-btn btn-style-one">{{'Subscribe' |translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!--End Subscribe Form-->
                
            </div>
        </div>
    </section>
    <!--End Newsletter-->
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>
<script src="../../../assets/js/owl.js"></script> 
<script src="../../../assets/js/script.js"></script>