<div class="page-wrapper">
    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/5.jpg);">
        <div class="auto-container">
            <h1>{{'rabie_position'|translate}}</h1>
        </div>
    </section>
    <section id="sp-main-body-wrapper" ng-if="lang == 'en' " style="margin-top: 40px">
        <div class="container">
            <div class="row-fluid clearfix" id="main-body">
                <div class="auto-container">
                    <div id="sp-message-area" class="span12">
                        <section id="sp-component-area-wrapper" class=" ">
                            <div class="row-fluid clearfix" id="component-area">
                                <div id="sp-component-area" class="span12">
                                    <section id="sp-component-wrapper">
                                        <div id="sp-component">
                                            <div id="system-message-container">
                                            </div>

                                            <article
                                                class="item-page post-114 post hentry status-publish category-management ">






                                                <section class="entry-content">
                                                    <div class="row-fluid clearfix">
                                                        <div class="span6 col-md-6"><img
                                                                src="assets/images/group-management/samar.jpeg" alt=""
                                                                border="0"></div>
                                                                <div class="span6 col-md-6">
                                                                        <h2>Samar Saleh</h2>
                                                                        <h4>Group CEO</h4>
                                                                        <p>&nbsp;</p>
                                                                        <p class="paragraph-justified">Dear our Stakeholders,</p>
                                                                        <p class="paragraph-justified">Hello, my name is Samar S. Said – the CEO of Al- Bargasy Group.</p>
                                                                        <p class="paragraph-justified">It is my pleasure to welcome and invite you to our website. This website is designed to provide a comprehensive and in-depth review of our Companies.</p>
                                                                        <p class="paragraph-justified">It conveys our sense of mission and objectives - To satisfy our customer's need and requirements as well as add value by delivering products and services in innovative ways through our diversified portfolio.</p>
                                                                        <p class="paragraph-justified">The basic principle of our work at Al-Bargasy group is strength through distinguish diversity. Where we put our customers ahead on our side and this is the common denominator that we can and teamwork in our companies of commitment to consistently our promise to our customers to provide better access to the highest satisfaction and sustainability.</p>
                                                                        <p class="paragraph-justified">Based on Al-Bargasy core values" of our success where we impose the proper administrative principles based on the customer support and commitment of our staff, these values earned us the trust and respect of our customers the same factors guide our vision towards the future.</p>
                                                                        <p class="paragraph-justified">We are committed to our core values we communicate everyday through with our customers</p>
                                                                        <p>Thank you.</p>
                                                                        <p>Sincerely,</p>
                                                                        <p><strong>Samar S. Said</strong></p>
                                                                        <p><strong>Group CEO </strong></p>
                                                                        <div class="about-team-share clearfix"><a class="about-social-icon facebook" href="#"><i style="" class="icon-facebook "></i></a> <a class="about-social-icon twitter" href="#"><i style="" class="icon-twitter "></i></a> <a class="about-social-icon gplus" href="#"><i style="" class="icon-google-plus "></i></a> <a class="about-social-icon pinterest" href="#"><i style="" class="icon-pinterest "></i></a></div>
                                                                        <p>&nbsp;</p>
                                                                        </div>
                                                    </div>








                                                </section>
                                            </article>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sp-main-body-wrapper" ng-if="lang == 'ar' " style="margin-top: 40px;">
        <div class="container">
            <div class="row-fluid" id="main-body">
                <div id="sp-message-area" class="span12">
                    <section id="sp-component-area-wrapper" class=" ">
                        <div class="row-fluid" id="component-area">
                            <div id="sp-component-area" class="span12">
                                <section id="sp-component-wrapper">
                                    <div id="sp-component">
                                        <div id="system-message-container">
                                        </div>

                                        <article
                                            class="item-page post-116 post hentry status-publish category-الإدارة ">






                                            <section class="entry-content">
                                                <div class="row-fluid">
                                                    <div class="span6 col-md-6"><img
                                                            src="assets/images/group-management/samar.jpeg" alt=""
                                                            border="0"></div>
                                                    <div class="span6 col-md-6">
                                                        <h2>سمر صالح</h2>
                                                        <h4>المدير التنفيذي</h4>
                                                        <p>&nbsp;</p>
                                                        <p class="paragraph-justified">ضيوفنا الأعزاء,</p>
                                                        <p class="paragraph-justified">إنــــــه لمن دواعــي سرورنا أن
                                                            أرحب بكم وأدعوكــم إلــــــى زيــــارة موقعنـــا علـــــــى
                                                            الانترنت.</p>
                                                        <p class="paragraph-justified">صمم هذا الموقع لتقديم استعراض
                                                            شامل عميق لشركاتنــــــا لينقـــــل وعى رسالتنا وأهدافنا -
                                                            لتلبية متطلبات عملائنا وإشباع احتياجاتهم، وكذلك القيمة من
                                                            خلال تقديم منتجات وخدمات بطرق مبتكرة من خلال محفظتنــا
                                                            المتنوعة.</p>
                                                        <p class="paragraph-justified">المبدأ الأساسي لعملنا في مجموعة
                                                            البرجسى هــــــــــو " القــــوة من خلال التميــــــز فى
                                                            التنـــــــــوع ".</p>
                                                        <p class="paragraph-justified">حيث نضع عملائنا قدما" جانبنا وهذا
                                                            هو القاسم المشترك الذى يمكننا ومجموعــــة العمل بشركاتنا من
                                                            الالتزام بشكل ثابت بوعدنا لعملائنا لتقديم الأفضل والوصول بهم
                                                            إلى أعلى درجات الرضا .</p>
                                                        <p class="paragraph-justified">وانطلاقا" من قيمنا الأساسية فإن
                                                            دورنا يفرض علينا النجاح حيث تساهم المبادئ الإدارية السليمة
                                                            القائمة والرؤية المعتمدة على إرضاء العملاء والتزام موظفينا
                                                            فى قيادة العمل هذه العوامل أكسبتنا ثقة واحترام عملائنا وهى
                                                            ذات العوامل إلى توجه رؤيتنــــــــا نحو المستقبل .</p>
                                                        <p class="paragraph-justified">نحن ملتزمون بقيمنـــــا
                                                            ........ونتواصل من خلالها كل يوم مع عملائنا،</p>
                                                        <p><strong>سمر صالح</strong></p>
                                                        <p><strong>المدير التنفيذي </strong></p>
                                                        <div class="about-team-share clearfix"><a
                                                                class="about-social-icon facebook" href="#"><i style=""
                                                                    class="icon-facebook "></i></a> <a
                                                                class="about-social-icon twitter" href="#"><i style=""
                                                                    class="icon-twitter "></i></a> <a
                                                                class="about-social-icon gplus" href="#"><i style=""
                                                                    class="icon-google-plus "></i></a> <a
                                                                class="about-social-icon pinterest" href="#"><i style=""
                                                                    class="icon-pinterest "></i></a></div>
                                                        <p>&nbsp;</p>
                                                    </div>
                                                </div>








                                            </section>
                                        </article>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>