<div class="page-wrapper">
    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/5.jpg);">
        <div class="auto-container">
            <h1>{{'rabie_position'|translate}}</h1>
        </div>
    </section>
    <section id="sp-main-body-wrapper" ng-if="lang == 'en' " style="margin-top: 40px">
        <div class="container">
            <div class="row-fluid clearfix" id="main-body">
                <div class="auto-container">
                    <div id="sp-message-area" class="span12">
                        <section id="sp-component-area-wrapper" class=" ">
                            <div class="row-fluid clearfix" id="component-area">
                                <div id="sp-component-area" class="span12">
                                    <section id="sp-component-wrapper">
                                        <div id="sp-component">
                                            <div id="system-message-container">
                                            </div>

                                            <article
                                                class="item-page post-114 post hentry status-publish category-management ">






                                                <section class="entry-content">
                                                    <div class="row-fluid clearfix">
                                                        <div class="span6 col-md-6"><img
                                                                src="assets/images/group-management/rabie.jpeg" alt=""
                                                                border="0"></div>
                                                        <div class="span6 col-md-6">
                                                            <h2>Rabie Al-Bargasy</h2>
                                                            <h4>Chairman of the Board</h4>
                                                            <p>&nbsp;</p>
                                                            <p class="paragraph-justified">Dear partners,</p>
                                                            <p class="paragraph-justified">It is our pleasure (side by
                                                                side) with all employees of Al-Bargasy group to welcome
                                                                you to visit our website.</p>
                                                            <p class="paragraph-justified">Over 31 years Al- Bargasy
                                                                group has witnessed great developments, starting from
                                                                1984 with a vision to provide premium products and
                                                                services to its customers, and a mission to alter the
                                                                existing -- business standards to achieve growth and
                                                                diversity.</p>
                                                            <p class="paragraph-justified">With thousands of satisfied
                                                                customers in Egypt, Al-Bargasy Group has successfully
                                                                pursued an expansion strategy both in terms of premium
                                                                products and diversifying its services, and client base.
                                                            </p>
                                                            <p class="paragraph-justified">To meet the multi-diverse
                                                                needs, and wide variety of expectations, Al-Bargasy
                                                                group dedicated to serve customers by providing them
                                                                with what goes beyond their expectations.</p>
                                                            <p class="paragraph-justified">The Success of our group is
                                                                the culmination of customer satisfaction. That’s why we
                                                                highly value and recommend customer feedback, to
                                                                continuously enhance ourselves.</p>
                                                            <p class="paragraph-justified">We always strived to be ahead
                                                                of the curve by anticipating the market’s needs and will
                                                                continue to do so by working closely with clients as
                                                                well as partners.</p>
                                                            <p class="paragraph-justified">Our team is fully committed
                                                                to our customers, starting from inquires, request to
                                                                actual implementation till after sales services driving
                                                                customer satisfaction notion to a new, extraordinary
                                                                level.</p>
                                                            <p>Welcome to our website&nbsp;and our operations in-site.
                                                            </p>
                                                            <p>Thank you.</p>
                                                            <p>Sincerely,</p>
                                                            <p><strong>Rabie Al-Bargasy</strong></p>
                                                            <p><strong>Chairman of the Board</strong></p>
                                                            <div class="about-team-share clearfix"><a
                                                                    class="about-social-icon facebook" href="#"><i
                                                                        style="" class="icon-facebook "></i></a> <a
                                                                    class="about-social-icon twitter" href="#"><i
                                                                        style="" class="icon-twitter "></i></a> <a
                                                                    class="about-social-icon gplus" href="#"><i style=""
                                                                        class="icon-google-plus "></i></a> <a
                                                                    class="about-social-icon pinterest" href="#"><i
                                                                        style="" class="icon-pinterest "></i></a></div>
                                                            <p>&nbsp;</p>
                                                        </div>
                                                    </div>








                                                </section>
                                            </article>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sp-main-body-wrapper" ng-if="lang == 'ar' " style="margin-top: 40px;"><div class="container"><div class="row-fluid" id="main-body">
            <div id="sp-message-area" class="span12"><section id="sp-component-area-wrapper" class=" "><div class="row-fluid" id="component-area">
            <div id="sp-component-area" class="span12"><section id="sp-component-wrapper"><div id="sp-component"><div id="system-message-container">
                </div>
            
            <article class="item-page post-116 post hentry status-publish category-الإدارة ">
             
                 
                 
                        
                
                    
                <section class="entry-content"> 
                                                                                                <div class="row-fluid">
            <div class="span6 col-md-6"><img src="assets/images/group-management/rabie.jpeg" alt="" border="0"></div>
            <div class="span6 col-md-6">
            <h2>ربيع البرجسى</h2>
            <h4>رئيس مجلس الادارة</h4>
            <p>&nbsp;</p>
            <p class="paragraph-justified">ضيوفنا الأعزاء,</p>
            <p class="paragraph-justified">انــه لمن دواعى سرورنا (جنبا" إلى جنب) مع جميع منسوبـــى مجموعــــة شركـــــــات البرجســى أن أرحب بكـــــــم فى زيارة موقعنا.</p>
            <p class="paragraph-justified">شهدت مجموعه شركات البرجسي خلال الواحد وثلاثون عام الماضية من عمرها تطورا ملحوظا. بدا من مولدها فـي عام 1984 وبرؤيــة واضحة لتقديم منتجات وخدمات رفيعة المستوى لكافه عملائها الكرام..</p>
            <p class="paragraph-justified">وبهــــــدف تحفيز معاير الأعمال الحالية لتحقيق النمو والتنوع.</p>
            <p class="paragraph-justified">ومـــــــع نجاح المجموعــــــة في الحصول على رضاء الألــــــوف من عملائها بجمهورية مصرا لعربية قامت مجموعـــه البرجسي بالسعي نحو التوسع الاستراتيجي بالارتقاء بمستوى منتجاتها وبتنوع وتعدد خدماتهــــــا وتوسيع قاعـــــــــدة عملائهــــــا.</p>
            <p class="paragraph-justified">ومحاولــــة لتلبية الاحتياجات المتعددة والمتنوعــــــة والتوقعات الواسعـــــــة, قامت مجموعة البرجسي بتكريس جهودها المخلصة فـــــــي تقديم خدمات تفوق توقعات عملائها.</p>
            <p class="paragraph-justified">إن نجاح مجموعه البرجسي المستمر هــــــــو تتويج لمستوى رضا عملائها, لهذا نضع وزنا وأهميه كبيرة لملاحظات و اقتراحات عملائنا لنستطيع تطوير أنفسنا باستمرار.</p>
            <p class="paragraph-justified">نحـــــن نسعى دائما لنكون فى المقدمة عن طريق توقع احتياجات السوق وستواصل القيام بذلك من خلال العمل بشكل وثيق ومستمر مع العملاء والشركاء والاستماع لهم بإصغاء.</p>
            <p class="paragraph-justified">لدينــــــا فريق عمل ملتزم بخدمه عملائنا ابتـــــداء من الطلبات والاستفسارات مرورا بتقديم الخدمة البيعيـــــة وكذلك خدمة ما بعد البيع لقياده رضاء عملائنا نحــــــو مستوى غير مسبوق.</p>
            <p>مرحبــــــــا بكم بموقعنا على الانترنت كما نرحب بكم في مواقع عملنا.</p>
            <p><strong>ربيع البرجسى</strong></p>
            <p><strong>رئيس مجلس إدارة مجموعة شركات البرجسى</strong></p>
            <div class="about-team-share clearfix"><a class="about-social-icon facebook" href="#"><i style="" class="icon-facebook "></i></a> <a class="about-social-icon twitter" href="#"><i style="" class="icon-twitter "></i></a> <a class="about-social-icon gplus" href="#"><i style="" class="icon-google-plus "></i></a> <a class="about-social-icon pinterest" href="#"><i style="" class="icon-pinterest "></i></a></div>
            <p>&nbsp;</p>
            </div>
            </div> 								
                                
                            
                            
                                            
                    
                                                                        
                    
                
            </section></article></div></section></div>
            </div></section></div>
            </div></div></section>
</div>