<div class="page-wrapper">
    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/5.jpg);">
        <div class="auto-container">
            <h1>{{'walid_position'|translate}}</h1>
        </div>
    </section>
    <section id="sp-main-body-wrapper" ng-if="lang == 'en' " style="margin-top: 40px">
        <div class="container">
            <div class="row-fluid clearfix" id="main-body">
                <div class="auto-container">
                    <div id="sp-message-area" class="span12">
                        <section id="sp-component-area-wrapper" class=" ">
                            <div class="row-fluid clearfix" id="component-area">
                                <div id="sp-component-area" class="span12">
                                    <section id="sp-component-wrapper">
                                        <div id="sp-component">
                                            <div id="system-message-container">
                                            </div>

                                            <article
                                                class="item-page post-114 post hentry status-publish category-management ">






                                                <section class="entry-content">
                                                    <div class="row-fluid clearfix">
                                                        <div class="span6 col-md-6"><img
                                                                src="assets/images/group-management/walid.jpg" alt=""
                                                                border="0"></div>
                                                        <div class="span6 col-md-6">
                                                            <h2>Walid Al-Bargasy</h2>
                                                            <h4>Vice President</h4>
                                                            <p>&nbsp;</p>
                                                            <p class="paragraph-justified">We are following our expansion strategy both in terms of premium products and diversify our services to cover the market multiple activities, to meet our customer's needs.
                                                            </p>
                                                            <p class="paragraph-justified">With thousands of satisfied customers in Egypt, Al-Bargasy Group has successfully pursued an expansion strategy both in terms of premium products and diversifying its services, and client base.
                                                            </p>
                                                            <p>Thank you.</p>
                                                            <p>Sincerely,</p>
                                                            <p><strong>Walid Al-Bargasy</strong></p>
                                                            <p><strong>Vice President</strong></p>
                                                            <div class="about-team-share clearfix"><a
                                                                    class="about-social-icon facebook" href="#"><i
                                                                        style="" class="icon-facebook "></i></a> <a
                                                                    class="about-social-icon twitter" href="#"><i
                                                                        style="" class="icon-twitter "></i></a> <a
                                                                    class="about-social-icon gplus" href="#"><i style=""
                                                                        class="icon-google-plus "></i></a> <a
                                                                    class="about-social-icon pinterest" href="#"><i
                                                                        style="" class="icon-pinterest "></i></a></div>
                                                            <p>&nbsp;</p>
                                                        </div>
                                                    </div>








                                                </section>
                                            </article>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sp-main-body-wrapper" ng-if="lang == 'ar' " style="margin-top: 40px;"><div class="container"><div class="row-fluid" id="main-body">
            <div id="sp-message-area" class="span12"><section id="sp-component-area-wrapper" class=" "><div class="row-fluid" id="component-area">
            <div id="sp-component-area" class="span12"><section id="sp-component-wrapper"><div id="sp-component"><div id="system-message-container">
                </div>
            
            <article class="item-page post-116 post hentry status-publish category-الإدارة ">
             
                 
                 
                        
                
                    
                <section class="entry-content"> 
                                                                                                <div class="row-fluid">
            <div class="span6 col-md-6"><img src="assets/images/group-management/walid.jpg" alt="" border="0"></div>
            <div class="span6 col-md-6">
            <h2>وليد البرجسى</h2>
            <h4>نائب رئيس مجلس الادارة            </h4>
            <p>&nbsp;</p>
            <p class="paragraph-justified">نحن نسعى دائما لنكون في الطليعة عن طريق توقع احتياجات السوق، وسنواصل القيام بذلك من خلال العمل بشكل وثيق مع عملائنا.
            </p>
            <p class="paragraph-justified">ومـــــــع نجاح المجموعــــــة في الحصول على رضاء الألــــــوف من عملائها بجمهورية مصرا لعربية قامت مجموعـــه البرجسي بالسعي نحو التوسع الاستراتيجي بالارتقاء بمستوى منتجاتها وبتنوع وتعدد خدماتهــــــا وتوسيع قاعـــــــــدة عملائهــــــا.

            </p>            
            <p><strong>وليد البرجسى</strong></p>
            <p><strong>نائب رئيس مجلس الادارة </strong></p>
            <div class="about-team-share clearfix"><a class="about-social-icon facebook" href="#"><i style="" class="icon-facebook "></i></a> <a class="about-social-icon twitter" href="#"><i style="" class="icon-twitter "></i></a> <a class="about-social-icon gplus" href="#"><i style="" class="icon-google-plus "></i></a> <a class="about-social-icon pinterest" href="#"><i style="" class="icon-pinterest "></i></a></div>
            <p>&nbsp;</p>
            </div>
            </div> 								
                                
                            
                            
                                            
                    
                                                                        
                    
                
            </section></article></div></section></div>
            </div></section></div>
            </div></div></section>
</div>